<html>
<head>
    <meta charset="utf-8">
    <title>会员中心</title>
    <link rel="icon" href="{$website_logo}" type="image/gif">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/member/css/member-main.css">
    <script type="text/javascript" src="/static/common/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/member/js/slider.js"></script>
    <script type="text/javascript" src="/static/member/js/slidert.js"></script>
</head>
<body>
<!--HEADER-->
{include file="public/header" /}
<!--END HEADER-->
<!--content-box-->
<div class="content-box">
    <div class="cont">
        <!-- Banner -->
        <div class="banner">
            <div id="banner_tabs" class="flexslider">
                <ul class="slides">
                    {foreach $banner as $item}
                    <li><a href="{$item.ad_link}"> <img alt="" style="background: #ffffff" src="{$item.ad_pic}"> </a></li>
                    {/foreach}
                </ul>
                <ul class="flex-direction-nav">
                    <li><a class="flex-prev" href="javascript:;" style="margin-left:50px;">Previous</a></li>
                    <li><a class="flex-next" href="javascript:;" style="margin-right:50px;">Next</a></li>
                </ul>
            </div>
        </div>
        <!-- END Banner -->
        <!-- cont-side -->
        {include file="public/left" /}
        <!-- END cont-side -->
        <!-- cont-main -->
        <div class="cont-main">
            <div class="title">个人中心</div>
            <div class="personal">
                <div class="personal-left">
                    <div class="ptitle">我的账户</div>
                    <div class="personal-info">
                        <div class="item">
                            <div class="item-title">用户名：</div>
                            <div class="item-value">{$member.member_login_name}</div>
                        </div>
                        <div class="item">
                            <div class="item-title">用户级别：</div>
                            <div class="item-value">
                                {if condition="$member.member_rank==1"}
                                普通会员
                                {elseif condition="$member.member_rank==2"}
                                代理会员
                                {/if}
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-title">手机号：</div>
                            <div class="item-value">{$member.member_mobile}</div>
                        </div>
                        <div class="item">
                            <div class="item-title">会员QQ：</div>
                            <div class="item-value">{$member.member_qq}</div>
                        </div>
                        <div class="item">
                            <div class="item-title">会员余额：</div>
                            <div class="item-title" style="text-align: left;padding-left: 10px;width: 150px;">
                                {$member.member_balance} 元
                            </div>
                            <div class="item-title"><a class="capylink" style="margin-top: 10px"
                                                       href="{:url('member/account/recharge')}">充值</a></div>
                        </div>
                        <div class="item">
                            <div class="item-title">注册时间：</div>
                            <div class="item-value">{$member.member_addtime}</div>
                        </div>
                    </div>
                    <div class="update-userinfo-button">
                        <button onclick="javascript:window.location.href='{:url(\'member/account/updatePersonInfo\');}';">
                            修 改
                        </button>
                    </div>
                </div>
                <div class="personal-right">
                    <div class="ptitle">联系我们</div>
                    <div class="personal-info">
                        <div class="item">
                            <div class="item-title">全国服务热线：</div>
                            <div class="item-value">{$saler_mobile}</div>
                        </div>
                        <div class="item">
                            <div class="item-title">人工服务时间：</div>
                            <div class="item-value">{$saler_time}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 中间轮播 -->
            <div class="bannerc">
                <div id="bannert_tabs" class="flexslider">
                    <ul class="slides">
                        {foreach $bannerc as $item}
                        <li><a href="{$item.ad_link}"> <img alt="" style="background: #ffffff" src="{$item.ad_pic}">
                        </a></li>
                        {/foreach}
                    </ul>
                    <ul class="flex-direction-nav">
                        <li><a class="flex-prev" href="javascript:;" style="margin-left:50px;">Previous</a></li>
                        <li><a class="flex-next" href="javascript:;" style="margin-right:50px;">Next</a></li>
                    </ul>
                </div>
            </div>
            <!-- END 中间轮播 -->
            <!-- 新闻 -->
            <div class="pi-news">
                <div class="pi-news-notice">
                    <div class="pin-title">最新公告</div>
                    <ul>
                        {foreach name="noticList" item="notic" key="k"}
                        <li>
                            <a href="/index/news/noticedetail/id/{$notic.notice_id}">{$k+1}. {$notic.notice_title}</a>
                            <span class="pin-time">{$notic.notice_create_time}</span>
                        </li>
                        {/foreach}
                    </ul>
                </div>
                <div class="pi-news-problem">
                    <div class="pin-title">常见问题</div>
                    <ul>
                        {foreach name="articleList" item="article" key="k"}
                        <li>
                            <a href="/index/news/detail/id/{$article.article_id}">{$k+1}. {$article.article_title}</a>
                            <span class="pin-time">{$article.article_time}</span>
                        </li>
                        {/foreach}
                    </ul>
                </div>
            </div>
            <!-- END 新闻 -->
            <!-- 推荐有礼 -->
            <div class="pin-recommend">
                <div class="rec-title">推荐有礼</div>
                <div class="pin-rec-csline">
                    <div class="pin-spread-line">
                        链接地址：
                        <span id="invitation_link">{$domain}{:url('member/login/register')}?m={$member.member_id}</span>
                        <span class="pin-copymyline" onclick="copyUrl()">复制</span>
                    </div>
                </div>
                <div class="pin-rec-tishi">
                    <p>温馨提示:</p>
                    <p>* 凡通过此链接进入网站注册的人都计算在您的推荐人数内</p>
                    <p>* 您推荐的总人数达到5人，自动升级代理会员等级，每单优惠0.1元</p>
                    <p>* 您推荐的用户完成注册后， 并且累计充值金额满99金币， 即可奖励您10金币！</p>
                </div>
            </div>
            <!-- END 推荐有礼 -->
        </div>
        <!-- END cont-main -->
    </div>
    <div class="clear"></div>
</div>
<script>
    function copyUrl() {
        var Url2 = document.getElementById("invitation_link").innerText;
        var oInput = document.createElement('input');
        oInput.value = Url2;
        document.body.appendChild(oInput);
        oInput.select(); // 选择对象
        document.execCommand("Copy"); // 执行浏览器复制命令
        oInput.className = 'oInput';
        oInput.style.display = 'none';
        layer.msg("复制成功", {
            btnAlign: "c",
            offset: "360px"
        })
    }
</script>
<!--END content-box-->
<!-- footer -->
{include file="public/footer" /}
<!-- END footer -->
</body>
</html>