<html>
<head>
    <meta charset="utf-8">
    <title>余额充值</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/member/css/member-main.css">
</head>
<body>
<!--HEADER-->
{include file="public/header" /}
<!--END HEADER-->
<!--content-box-->
<div class="content-box">
    <div class="cont">
        <!-- cont-side -->
        {include file="public/left" /}
        <!-- END cont-side -->
        <!-- cont-main -->
        <div class="cont-main">
            <div class="title">余额充值</div>
            <div class="cont-main-box">
                <form class="layui-form" action="/member/account/recharge.html" onsubmit="return rechargecheck()" target="_blank" method="post">
                    <div class="layui-form-item">
                        <div>
                            <label style="float: left;display: block;padding: 9px 6px;font-weight: 400;line-height: 20px;text-align: right;">充值金额</label>
                            <div class="layui-input-inline" style="width: 200px">
                                <input type="text" placeholder="请输入充值金额" id="recharge_money"
                                       autocomplete="off" class="layui-input" lay-verify="double" name="money"
                                       style="width:200px !important;height: 30px !important;margin-top: 4px !important;">
                            </div>
                        </div>
                        <button  type="submit" class="apply-for-btn">充值</button>

                    </div>
                </form>
            </div>
        </div>
        <!-- END cont-main -->
    </div>
    <div class="clear"></div>
</div>
<script>
    var form;
    layui.use('form', function () {
        form = layui.form;
    });

    /**
     * 充值验证
     */
    function rechargecheck() {
        let recharge_money = $('#recharge_money').val();
        if (!isMoney(recharge_money)) {
            layer.msg("请输入正确金额");
            return false;
        }
        return true;
    }


</script>
<!--END content-box-->
<!-- footer -->
{include file="public/footer" /}
<!-- END footer -->
</body>
</html>