<html>
<head>
    <meta charset="utf-8">
    <title>会员中心</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/member/css/member-main.css">
</head>
<body>
<!--HEADER-->
{include file="public/header" /}
<!--END HEADER-->
<!--content-box-->
<div class="content-box">
    <div class="cont">
        <!-- cont-side -->
        {include file="public/left" /}
        <!-- END cont-side -->
        <!-- cont-main -->
        <div class="cont-main">
            <div class="title">升级代理</div>
            <div class="cont-main-box">
                {empty name="$rankList"}

                {else/}
                <div class="upvip-explain">
                    {foreach $rankList as $value}
                    <p>充值累积满<span style="color:#FF464E">{$value.recharge_upgrade}</span>元，可自动升级为永久<span style="color:#FF464E">{$value.rank_name}</span></p>
                    <p>邀请<span style="color:#FF464E">{$value.invite_upgrade}</span>个好友注册成功，可自动升级为永久<span style="color:#FF464E">{$value.rank_name}</span>
                        <a href="{:url('member/account/myspreadline')}" class="upgrade-btn capylink">复制链接</a>
                    </p>
                    {/foreach}
                </div>
                {/empty}
                <div class="upvip-upgrade">
                    <table>
                        <tr>
                            <td class="td-title">用户名：</td>
                            <td class="td-value">{$member.member_login_name}</td>
                        </tr>
                        <tr>
                            <td class="td-title">当前级别：</td>
                            <td class="td-value">{$member.rank_name}</td>
                        </tr>
                        <tr>
                            <td class="td-title">可用余额：</td>
                            <td class="td-value">{$member.member_balance} <span class="yue-util">元</span></td>
                        </tr>
                        <tr>
                            <td class="td-title">升级会员：</td>
                            <td class="td-value">
                                <select class="levels" id="member_update">
                                    {empty name="$rankList"}
                                    <option value="0">没有代理升级</option>
                                    {else/}
                                    {foreach $rankList as $value}
                                    <option value="{$value.rank_id}">{$value.rank_name}</option>
                                    {/foreach}
                                    {/empty}
                                </select>
                                <a href="recharge.html" class="upgrade-btn">去充值</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- END cont-main -->
    </div>
    <div class="clear"></div>
</div>
<!--END content-box-->
<!-- footer -->
{include file="public/footer" /}
<!-- END footer -->
</body>
</html>