<html>
<head>
    <meta charset="utf-8">
    <title>会员中心</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.27, maximum-scale=0.27, minimum-scale=0.27">
    <link rel="icon" href="{$website_logo}" type="image/gif">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/member/css/member-main.css">
</head>
<body>
<!--HEADER-->
{include file="public/header" /}
<!--END HEADER-->
<script type="text/javascript">
    var layer;
    $(function () {
        layui.use(['layer'], function () {
            layer = layui.layer;
        })
        $("#updUInfoBtn").click(function () {
            $.ajax({
                url: "{:url('member/account/updatePersonInfo')}",
                type: "POST",
                dataType: "json",
                data: {
                    password: $("#password").val(),
                    qqnum: $("#qqnum").val()
                },
                success: function (data) {
                    // console.log(data);
                    if (data.code == 10000) {
                        layer.msg(data.message, {
                            icon: 1,
                            time: 2000
                        }, function () {
                            window.location.href = "{:url('/member/account/personinfo')}";
                        });
                    } else {
                        layer.msg(data.message, {
                            icon: 2,
                            time: 3000
                        });
                    }
                },
                error: function () {
                    layer.msg("更新失败", {
                        icon: 2,
                        time: 3000
                    });
                }
            });
        });
    })
</script>
<!--content-box-->
<div class="content-box">
    <div class="cont">
        <!-- cont-side -->
        {include file="public/left" /}
        <!-- END cont-side -->
        <!-- cont-main -->
        <div class="cont-main">
            <div class="title">个人中心</div>
            <div class="updpersonal">
                <!--<div class="personal-photo">
                    <img src="/static/member/images/default-photo.png"/>
                    &lt;!&ndash;div class="update-personal-photo">修改头像</div&ndash;&gt;
                </div>-->
                <form action="" method="post">
                    <div class="personal-info">
                        <div class="item">
                            <div class="item-title">用户名：</div>
                            <div class="item-value">
                                <input type="text" value="{$member.member_login_name}" disabled />
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-title">密码：</div>
                            <div class="item-value">
                                <input type="password" name="password" id="password" /> <span>不填写不修改密码</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-title">会员QQ：</div>
                            <div class="item-value">
                                <input type="text" name="qqnum" id="qqnum" value="{$member.member_qq}" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="update-userinfo-button">
                    <button type="button" class="insubbtn" id="updUInfoBtn">保存修改</button>
                </div>
            </div>
        </div>
        <!-- END cont-main -->
    </div>
    <div class="clear"></div>
</div>
<!--END content-box-->
<!-- footer -->
{include file="public/footer" /}
<!-- END footer -->
</body>
</html>