<html>
<head>
    <meta charset="utf-8">
    <title>会员中心</title>
    <link rel="icon" href="{$website_logo}" type="image/gif">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/member/css/member-main.css">
    <link rel="stylesheet" href="/static/common/layui/css/layui.css">
    <script type="text/javascript" src="/static/common/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/common/layui/layui.js"></script>
</head>
<body>
<!--HEADER-->
{include file="public/header" /}
<!--END HEADER-->
<!--content-box-->

<div class="content-box">
    <div class="cont">
        <!-- cont-side -->
        {include file="public/left" /}
        <!-- END cont-side -->
        <!-- cont-main -->
        <div class="cont-main">
            <div class="title">在线自助申请底单</div>
            <div class="cont-main-box">
                <div class="cont-didan-top">
                    <h2>自助申请底单</h2>
                    <p>申请宝贝降权表格 <a href="{$restraint_file}">《点击下载表格》</a></p>
                    <p>申请宝贝退款表格 <a href="{$refund_file}">《点击下载表格》</a></p>
                    <p>严格按照格式填写后，并将表格填写好后上传，填写好您的邮箱。我们将会在最短的时间内发送给您。</p>
                </div>
                <div class="cont-didan-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">上传表格：</label>
                        <div class="layui-input-block">
                            <input type="hidden" name="bofile" id="bofile"/>
                            <button type="button" class="layui-btn" id="upldidan">上传表格</button>
                            <span id="showupldidan"></span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">邮箱：</label>
                        <div class="layui-input-block">
                            <input type="text" name="email" id="email" autocomplete="off" placeholder="邮箱"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn" id="applyfor">保 存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END cont-main -->
    </div>
    <div class="clear"></div>
</div>
<script>
    $(function () {
        var layer;
        layui.use(['upload', 'layer'], function () {
            var upload = layui.upload;
            layer = layui.layer;

            var uploadInst = upload.render({
                elem: '#upldidan' //绑定元素
                , url: '/member/aftersale/uploadDiDan' //上传接口
                , field: 'didanfile'
                , accept: 'file'
                , exts: 'xls|xlsx'
                , size: 5120
                , done: function (res) {
                    //上传完毕回调
                    // console.log(res);
                    if (res.code == 10000) {
                        layer.msg(res.message, {icon: 1});
                        $("#bofile").val(res.result);
                        $("#showupldidan").html(res.result);
                    } else {
                        layer.msg(res.message, {icon: 2});
                    }
                }
                , error: function () {
                    //请求异常回调
                    layer.msg("请求异常", {icon: 2});
                }
            });
        });

        $("#applyfor").click(function () {
            $.ajax({
                url: "/member/aftersale/didan",
                type: "POST",
                dataType: "json",
                data: {
                    bofile: $('#bofile').val(),
                    email: $("#email").val()
                },
                success: function (data) {
                    // console.log(data);
                    if (data.code == 10000) {
                        layer.open({
                            content: data.message,
                            yes: function(index, layero){
                                layer.close(index); //如果设定了yes回调，需进行手工关闭
                                window.location.href="/member/aftersale/didan";
                            }
                        });
                    } else {
                        layer.open({
                            content: data.message,
                            btnAlign: "c",
                            offset: "300px"
                        });
                        return false;
                    }
                },
                error: function () {
                    console.log('error');
                    return false;
                }
            });
        });
    })
</script>
<!--END content-box-->
<!-- footer -->
{include file="public/footer" /}
<!-- END footer -->
</body>
</html>