<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="{$Think.ADMIN_SITE_ROOT}/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{$Think.ADMIN_SITE_ROOT}/css/style.css"/>
    <link href="{$Think.ADMIN_SITE_ROOT}/assets/css/codemirror.css" rel="stylesheet">
    <link rel="stylesheet" href="{$Think.ADMIN_SITE_ROOT}/assets/css/ace.min.css"/>
    <link rel="stylesheet" href="{$Think.ADMIN_SITE_ROOT}/assets/css/font-awesome.min.css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="{$Think.ADMIN_SITE_ROOT}/assets/css/font-awesome-ie7.min.css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{$Think.ADMIN_SITE_ROOT}/assets/css/ace-ie.min.css"/>
    <![endif]-->
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/jquery.min.js"></script>

    <!-- <![endif]-->

    <!--[if IE]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <![endif]-->

    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='{$Think.ADMIN_SITE_ROOT}/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>" + "<" + "/script>");
    </script>
    <![endif]-->


    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='{$Think.ADMIN_SITE_ROOT}/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/bootstrap.min.js"></script>
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/typeahead-bs2.min.js"></script>
    <!-- page specific plugin scripts -->
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/jquery.dataTables.min.js"></script>
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/jquery.dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="{$Think.ADMIN_SITE_ROOT}/js/H-ui.js"></script>
    <script type="text/javascript" src="{$Think.ADMIN_SITE_ROOT}/js/H-ui.admin.js"></script>
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/layer/layer.js" type="text/javascript"></script>
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/laydate/laydate.js" type="text/javascript"></script>
    <script src="{$Think.COMMON_SITE_ROOT}/layui/layui.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{$Think.COMMON_SITE_ROOT}/layui/css/layui.css" media="all">
    <title>会员列表</title>
</head>

<body>
<div class="page-content clearfix">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="m-form-label">查询</label>
                <div class="layui-input-inline">
                    <input type="text" name="number" placeholder="手机号/QQ/用户等级/推荐人" lay-verify="required|number"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="date_atart" id="date_atart" lay-verify="date" placeholder="开始日期" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="m-form-label">~</label>
                <div class="layui-input-inline">
                    <input type="text" name="date_end" id="date_end" lay-verify="url" placeholder="结束日期"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <button type="button" class="layui-inline layui-btn layui-btn-normal">搜索</button>
        </div>
        <!--表格-->
        <table id="sample-table" lay-filter="table_member"></table>
</div>

<script type="text/html" id="table_operation_toolbar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="special_price">特殊价格</a>
    <a class="layui-btn layui-btn-xs" lay-event="reward_punish">奖罚</a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="recharge_record">充值记录</a>
    <a class="layui-btn  layui-btn-danger layui-btn-xs" lay-event="change_password">修改密码</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="financial_details">资金明细</a>
</script>
<script>
    layui.use(['table', 'laydate'], function () {
        var table = layui.table;
        var laydate = layui.laydate;
        table.render({
            elem: '#sample-table'
            , url: '/admin/membermanagement/memberlist'
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
                {field: 'member_mobile', width: 120, align: 'center', title: '手机'}
                , {field: 'member_qq', width: 120, align: 'center', title: 'QQ'}
                , {field: 'rank_name', title: '等级', align: 'center', width: 100} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                , {field: 'referrer_name', align: 'center', title: '推荐人', width: 120}
                , {field: 'member_balance', title: '余额', align: 'center', width: 120, sort: true,}
                , {field: 'member_addtime', title: '注册时间', width: 160, align: 'center', sort: true}
                , {field: 'operation', align: 'center', title: '操作', toolbar: '#table_operation_toolbar'}
            ]]
            , parseData: function (res) {
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.result.total, //解析数据长度
                    "data": res.result.data //解析数据列表
                }
            }
            , response: {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                , statusCode: 10000 //规定成功的状态码，默认：0
                , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                , countName: 'count' //规定数据总数的字段名称，默认：count
                , dataName: 'data' //规定数据列表的字段名称，默认：data
            }
            , page: {
                layout: ['prev', 'page', 'next', 'skip', 'refresh']
            }
        });

        laydate.render({
            elem: '#date_atart'
        });
        laydate.render({
            elem: '#date_end'
        });

        table.on('tool(table_member)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if(layEvent === 'special_price'){ //特殊价格
                //do somehing
            } else if(layEvent === 'reward_punish'){ //奖罚
                layer.confirm('真的删除行么', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if(layEvent === 'recharge_record'){ //充值记录
                //do something


            } else if(layEvent === 'change_password'){ //修改密码

            }else if(layEvent === 'financial_details'){ //资金明细

            }
        });
    });


    /*用户-查看*/
    function member_show(title, url, id, w, h) {
        layer_show(title, url + '#?=' + id, w, h);
    }

    /*用户-停用*/
    function member_stop(obj, id) {
        layer.confirm('确认要停用吗？', function (index) {
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class="btn btn-xs " onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="icon-ok bigger-120"></i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
            $(obj).remove();
            layer.msg('已停用!', {icon: 5, time: 1000});
        });
    }

    /*用户-启用*/
    function member_start(obj, id) {
        layer.confirm('确认要启用吗？', function (index) {
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class="btn btn-xs btn-success" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="icon-ok bigger-120"></i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
            $(obj).remove();
            layer.msg('已启用!', {icon: 6, time: 1000});
        });
    }

    /*用户-编辑*/
    function member_edit(id) {
        layer.open({
            type: 1,
            title: '修改用户信息',
            maxmin: true,
            shadeClose: false, //点击遮罩关闭层
            area: ['800px', ''],
            content: $('#add_menber_style'),
            btn: ['提交', '取消'],
            yes: function (index, layero) {
                var num = 0;
                var str = "";
                $(".add_menber input[type$='text']").each(function (n) {
                    if ($(this).val() == "") {

                        layer.alert(str += "" + $(this).attr("name") + "不能为空！\r\n", {
                            title: '提示框',
                            icon: 0,
                        });
                        num++;
                        return false;
                    }
                });
                if (num > 0) {
                    return false;
                } else {
                    layer.alert('添加成功！', {
                        title: '提示框',
                        icon: 1,
                    });
                    layer.close(index);
                }
            }
        });
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $(obj).parents("tr").remove();
            layer.msg('已删除!', {icon: 1, time: 1000});
        });
    }

    laydate({
        elem: '#start',
        event: 'focus'
    });

</script>
</body>
</html>
<!--数据操作-->