<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员特殊价格</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="{$Think.ADMIN_SITE_ROOT}/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{$Think.ADMIN_SITE_ROOT}/css/style.css"/>
    <link href="{$Think.ADMIN_SITE_ROOT}/assets/css/codemirror.css" rel="stylesheet">
    <link rel="stylesheet" href="{$Think.ADMIN_SITE_ROOT}/assets/css/font-awesome.min.css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="{$Think.ADMIN_SITE_ROOT}/assets/css/font-awesome-ie7.min.css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <![endif]-->
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/jquery.min.js"></script>

    <!-- <![endif]-->

    <!--[if IE]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <![endif]-->

    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='{$Think.ADMIN_SITE_ROOT}/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>" + "<" + "/script>");
    </script>
    <![endif]-->


    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='{$Think.ADMIN_SITE_ROOT}/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/bootstrap.min.js"></script>
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/typeahead-bs2.min.js"></script>
    <!-- page specific plugin scripts -->
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/jquery.dataTables.min.js"></script>
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/jquery.dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="{$Think.ADMIN_SITE_ROOT}/js/H-ui.js"></script>
    <script type="text/javascript" src="{$Think.ADMIN_SITE_ROOT}/js/H-ui.admin.js"></script>
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/layer/layer.js" type="text/javascript"></script>
    <script src="{$Think.COMMON_SITE_ROOT}/layui/layui.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{$Think.COMMON_SITE_ROOT}/layui/css/layui.css" media="all">
    <style>
        .layui-table-cell {
            height: 100%;
            max-width: 100%;
        }
    </style>
</head>
<body>

<div class="page-content clearfix">
    <!--搜索-->
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="m-form-label">查询</label>
                <div class="layui-input-inline" style="width: 150px">
                    <input type="text" placeholder="商品标题" id="serach_param"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="m-form-label">仓库</label>
                <div class="layui-input-inline" style="width: 170px">
                    <select name="modules" id="serach_warehouse" lay-verify="required" lay-search="">
                        <option value="">仓库</option>
                    </select>
                </div>
            </div>

            <button type="button" class="layui-inline layui-btn layui-btn-normal" onclick="serach()">搜索</button>
        </div>
    </form>
    <form class="layui-form" action="" style="margin-top: -20px">
        <label class="m-form-label">批量设置价格</label>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="m-form-label">会员价</label>
                <div class="layui-input-inline" style="width: 150px">
                    <input type="text" placeholder="会员价" id="good_price"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="m-form-label">代理价</label>
                <div class="layui-input-inline" style="width: 150px">
                    <input type="text" placeholder="代理价" id="good_vip_price"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="m-form-label">API价</label>
                <div class="layui-input-inline" style="width: 150px">
                    <input type="text" placeholder="API价" id="good_api_price"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <button type="button" class="layui-inline layui-btn layui-btn-normal" onclick="setspecialprice()">设置</button>
        </div>
    </form>
    <!--表格-->
    <table id="sample-table" lay-filter="table_goods" style="margin-top: -15px"></table>
</div>
<!--主图显示-->
<script type="text/html" id="table_main_pic">
    <div class="layer-photos-demo">
        <img src="{{ d.good_pic }}" alt="{{ d.kdName }}">
    </div>
</script>

<script type="text/javascript">
    var table;
    var form;
    layui.use(['table', 'form'], function () {
        table = layui.table;
        form = layui.form;

        $(function () {
            $.ajax({
                //几个参数需要注意一下
                type: "GET",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/admin/goods/getwarehouselist",
                success: function (result) {
                    if (result.code == 10000) {
                        //设置下拉框数据
                        for (let i = 0; i < result.result.length; i++) {
                            let warehouse = result.result[i];
                            $("#serach_warehouse").append("<option value='" + warehouse.wh_id + "'>" + warehouse.wh_title + "</option>");
                        }
                        form.render('select');
                    }
                },
                error: function () {

                }
            });
        });


        table.render({
            elem: '#sample-table'
            , url: '/admin/membermanagement/getspecialgoodslist?mid=' + {$mid}
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , limit: 100
            , height: 'full-170'
            , cols: [[
                {field: 'goodsTitle', width: 300, align: 'center', title: '商品标题'}
                , {field: 'good_pic', width: 140, align: 'center', title: '主图', templet: '#table_main_pic'}
                , {field: 'kdName', align: 'center', title: '快递名称'}
                , {field: 'warehouse_name', width: 160, align: 'center', title: '仓库'}
                , {field: 'cost_price', title: '成本', width: 100, align: 'center'}
                , {
                    field: 'good_special_price',
                    title: '会员价(利润)',
                    align: 'center',
                    width: 110,
                    edit: 'text',
                    fixed: 'right',
                    templet: function (d) {
                        let goodspecialprice = d.good_special_price;
                        if (!goodspecialprice) {
                            return d.good_price;
                        }
                        return goodspecialprice;
                    }
                } //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                , {
                    field: 'good_special_vip_price',
                    align: 'center',
                    title: '代理价(利润)',
                    width: 110,
                    edit: 'text',
                    fixed: 'right',
                    templet: function (d) {
                        let goodspecialvipprice = d.good_special_vip_price;
                        if (!goodspecialvipprice) {
                            return d.good_vip_price
                        }
                        return goodspecialvipprice;
                    }
                }
                , {
                    field: 'good_special_api_price',
                    title: 'API价(利润)',
                    align: 'center',
                    width: 110,
                    edit: 'text',
                    fixed: 'right',
                    templet: function (d) {
                        let goodspecialapiprice = d.good_special_api_price;
                        if (!goodspecialapiprice) {
                            return d.good_api_price;
                        }
                        return goodspecialapiprice;
                    }
                }
            ]]
            , parseData: function (res) {
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.result.total, //解析数据长度
                    "data": res.result.data //解析数据列表
                }
            }
            , response: {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                , statusCode: 10000 //规定成功的状态码，默认：0
                , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                , countName: 'count' //规定数据总数的字段名称，默认：count
                , dataName: 'data' //规定数据列表的字段名称，默认：data
            }
            , page: {
                layout: ['prev', 'page', 'next', 'skip', 'refresh']
            }
        });

        table.on('edit(table_goods)', function (obj) { //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"

            let special_price = obj.data.good_special_price;
            if (!special_price) {
                special_price = obj.data.good_price;
            }
            let special_vip_price = obj.data.good_special_vip_price;
            if (!special_vip_price) {
                special_vip_price = obj.data.good_vip_price;
            }
            let special_api_price = obj.data.good_special_api_price;
            if (!special_api_price) {
                special_api_price = obj.data.good_api_price;
            }

            $.ajax({
                //几个参数需要注意一下
                type: "GET",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/admin/membermanagement/editspecialprice",
                data: {
                    good_price: special_price,
                    good_vip_price: special_vip_price,
                    good_api_price: special_api_price,
                    kdId: obj.data.kdId,
                    mid: {$mid}
                },
                success: function (result) {
                    console.log(result)
                },
                error: function () {
                }
            });
        });
    });

    /**搜索*/
    function serach() {
        table.reload('sample-table', {
            url: '/admin/goods/serachgoodslist'
            , page: {
                curr: 1 //重新从第 1 页开始
            }
            , where: {
                goodtitle: $('#serach_param').val(),
                warehouse: $('#serach_warehouse').val()
            } //设定异步数据接口的额外参数
        });
    }

    /**
     * 批量设置特殊价格
     */
    function setspecialprice() {
        var index = layer.load(2, {
            shade: [0.1,'#000000'] //0.1透明度的白色背景
        });
        $.ajax({
            //几个参数需要注意一下
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/admin/membermanagement/batcheditspecialprice",
            data: {
                good_price: $('#good_price').val(),
                good_vip_price: $('#good_vip_price').val(),
                good_api_price: $('#good_api_price').val(),
                mid: {$mid}
            },
            success: function (result) {
                if (result.code == 10000) {
                    layer.close(index);
                    table.reload('sample-table');
                }
            },
            error: function () {
                layer.msg('修改失败，请稍后再试');
            }
        });
    }
</script>
</body>
</html>