@charset "utf-8";
a,
body {
    color: #333;
}

body{
    background-color: #f4f5f6;
    font-family: 微软雅黑;
    font-size: 12px;
}
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5 arial, tahoma, \5b8b\4f53
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

fieldset,
img {
    border: 0
}

li,
ol,
ul {
    list-style: none
}

button,
input,
select,
textarea {
    font-size: 100%;
    outline: 0
}

textarea {
    resize: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none
}

.clear {
    display: block;
    height: 0;
    clear: both
}


/**
 *  header
 */
.header-box{
    width: 100%;
    float: left;
    position: relative;
    background-color: #ffffff;
}
.header-box .header{
    width: 1200px;
    margin: 0px auto;
    position: relative;
}
.header-box .header .header-top{
    width: 100%;
    float: left;
    height: 40px;
    line-height: 40px;
}
.header-box .header .header-top .login-info{
    float: left;
}
.header-box .header .header-top .login-info .welcome{
    display: inline-block;
}
.header-box .header .header-top .login-info .userinfo{
    color: #f70;
}
.header-box .header .header-top .login-info .user-exit{
    display: inline-block;
}

.header-box .header .header-top .list-nav{
    float: right;
}
.header-box .header .header-top .list-nav li{
    float: left;
    padding-right: 16px;
}
.header-box .header .header-top .list-nav li a{
    cursor: pointer;
}

.header-box .header .header-nav{
    width: 100%;
    float: left;
}

/**
 * main body
 */
.personal-member{
    width: 100%;
    float: left;
    position: relative;
}
.cont{
    width: 1200px;
    margin: 0px auto;
    position: relative;
}
.cont .cont-side{
    width: 200px;
    float: left;
    position: relative;
    overflow: hidden;
}
.cont-side .side-neck{
    position: absolute;
    top: -10px;
    left: -14px;
    width: 185px;
    height: 18px;
    background: #FFF;
    border: solid 1px #FFF;
    border-radius: 18px;
    box-shadow: 0 2px 5px #e3e3e3;
    z-index: 10;
}
.cont-side .side-neck i{
    display: block;
    margin: 5px 7px;
    height: 8px;
    background: #DDD;
    border: solid 1px #DDD;
    border-radius: 15px;
}


