@charset "utf-8";
a,
body {
    color: #333;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5 arial, tahoma, \5b8b\4f53
}

body {
    background-color: #f4f5f6;
    font-family: 微软雅黑;
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

fieldset,
img {
    border: 0
}

li,
ol,
ul {
    list-style: none
}

button,
input,
select,
textarea {
    font-size: 100%;
    outline: 0
}

textarea {
    resize: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input[type='text'],
input[type='password'] {
    display: inline-block;
    width: 300px;
    height: 30px;
    padding: 0px 10px;
    vertical-align: middle;
    border: 1px solid #ccc;
}

a {
    text-decoration: none
}

.clear {
    display: block;
    height: 0;
    clear: both
}


/**
 *  header
 */
.header-box {
    width: 100%;
    float: left;
    position: relative;
}

.header-box .header {
    width: 100%;
    float: left;
    position: relative;
}

.header-box .header .header-top {
    width: 1200px;
    margin: 0px auto;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.header-box .header .header-top .login-info {
    float: left;
}

.header-box .header .header-top .login-info .welcome {
    display: inline-block;
    padding-right: 6px;
}

.header-box .header .header-top .login-info .userinfo {
    color: #FF464E;
    padding-right: 16px;
    font-weight: bold;
}

.header-box .header .header-top .login-info .user-exit {
    display: inline-block;
}

.header-box .header .header-top .login-info a:hover {
    color: #FF464E;
}

.header-box .header .header-top .list-nav {
    float: right;
}

.header-box .header .header-top .list-nav li {
    float: left;
    padding-right: 20px;
}

.header-box .header .header-top .list-nav li a {
    cursor: pointer;
}

.header-box .header .header-top .list-nav li a:hover {
    color: #FF464E;
}

.header-box .header-nav {
    width: 100%;
    float: left;
    background-color: #ffffff;
    position: relative;
}

.header-box .header-nav .header-nav-cont {
    width: 1200px;
    height: 80px;
    margin: 0px auto;
    position: relative;
    padding: 20px 0px;
    overflow: hidden;
}

.header-box .header-nav .header-nav-cont .header-logo {
    width: 360px;
    height: 80px;
    float: left;
    overflow: hidden;
    padding-right: 40px;
}

.header-box .header-nav .header-nav-cont .header-logo img {
    width: 200px;
    height: 80px;
}

.header-box .header-nav .nav {
    float: left;
    position: relative;
    height: 80px;
}

.header-box .header-nav .nav li {
    float: left;
    margin: 0px 10px;
    line-height: 78px;
}

.header-box .header-nav .nav li a {
    display: block;
    height: 80px;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 10px;
}

.header-box .header-nav .nav li:hover a {
    color: #FF464E;
    border-bottom: 2px solid #FF464E;
}


/**
 * main body
 */
.content-box {
    width: 100%;
    float: left;
    position: relative;
}

.cont {
    width: 1200px;
    margin: 25px auto;
    position: relative;
}

.cont .cont-side {
    width: 200px;
    float: left;
    position: relative;
    overflow: hidden;
}

.cont-side .side-neck {
    width: 198px;
    float: left;
    height: 20px;
    background: #FFF;
    border: solid 1px #FFF;
    border-radius: 20px;
    box-shadow: 0 2px 5px #e3e3e3;
    z-index: 10;
}

.cont-side .side-neck i {
    display: block;
    margin: 5px 5px;
    height: 8px;
    background: #DDD;
    border: solid 1px #DDD;
    border-radius: 15px;
}

.cont-side .side-menu {
    width: 180px;
    float: left;
    margin-left: 10px;
    position: relative;
    top: -10px;
    overflow: hidden;
    box-shadow: 0 2px 5px #e3e3e3, -1px 2px 5px #e3e3e3;
}

.cont-side .side-menu-tree {
    width: 120px;
    position: relative;
    float: left;
    background-color: #ffffff;
    overflow: hidden;
    padding: 16px 10px 30px 50px;
    overflow: hidden;
}

.cont-side .side-menu-tree dt {
    font-size: 14px;
    line-height: 30px;
    font-family: "Microsoft YaHei";
    font-weight: 700;
    padding-top: 6px;
}

.cont-side .side-menu-tree dd {
    font-size: 12px;
    line-height: 26px;
    font-family: "Microsoft YaHei";
}

.cont-side .side-menu-tree dd a:hover {
    color: #FF464E;
}

.cont-side .icon-up-side {
    width: 100%;
    float: left;
    display: block;
    background: #f5f5f5;
    height: 20px;
    _height: 0;
    transition: all .2s;
    text-align: center;
}

.cont-side .icon-up-side i {
    display: inline-block;
    height: 0;
    width: 0;
    border: solid 5px #f5f5f5;
    margin-top: 3px;
    border-bottom-color: #BBB;
}


/**
 * 右侧内容
 */
.cont .cont-main {
    width: 940px;
    margin-left: 20px;
    float: left;
    position: relative;
    overflow: hidden;
    padding: 20px;
    background-color: #ffffff;
}

.cont .cont-main .title {
    width: 930px;
    font-size: 18px;
    float: left;
    line-height: 20px;
    margin-bottom: 18px;
    padding-left: 7px;
    border-left: 3px solid #fa3b4a;
    overflow: hidden;
}


/**
 * 会员中心
 */
.personal {
    width: 940px;
    float: left;
}

.personal .personal-photo {
    width: 120px;
    float: left;
    position: relative;
}

.personal .personal-photo img {
    width: 120px;
    height: 120px;
}

.personal .personal-photo .update-personal-photo {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    line-height: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.personal .personal-photo .update-personal-photo:hover {
    color: #fa3b4a;
}

.personal .personal-info {
    width: 800px;
    padding-left: 20px;
    float: left;
    overflow: hidden;
    position: relative;
}

.personal .personal-info .item {
    width: 800px;
    float: left;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dashed #eaeaea;
    overflow: hidden;
    font-size: 14px;
}

.personal .personal-info .item .item-title {
    width: 70px;
    float: left;
    text-align: right;
}

.personal .personal-info .item .item-value {
    width: 720px;
    padding-left: 10px;
    float: left;
    overflow: hidden;
}

.personal .personal-info .item .item-value input {
    width: 285px;
    height: 36px;
    margin-left: 22px;
    margin-top: 6px;
}

.personal .update-userinfo-button {
    width: 100%;
    float: left;
    text-align: center;
    padding: 16px 0px;
}

.personal .update-userinfo-button button {
    width: 100px;
    text-align: center;
    background-color: #FF464E;
    color: #ffffff;
    border: none;
    line-height: 36px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}


.cont-main-box {
    width: 940px;
    float: left;
}

.payorder-step {
    width: 910px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F4F5F6;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
}

.payorder-selcangku {
    width: 100%;
    float: left;
    margin: 10px 0px;
}

.payorder-selcangku li {
    display: inline-block;
    float: left;
    line-height: 36px;
    padding: 0px 15px;
    font-size: 14px;
    background-color: #C1C1C1;
    color: #ffffff;
    margin: 10px;
    cursor: pointer;
}

.payorder-selcangku li:hover {
    background-color: #FF464E;
}

.payorder-sellipin {
    width: 100%;
    float: left;
    margin: 10px 0px;
}

.payorder-sellipin select {
    width: 100%;
    height: 30px;
    font-size: 14px;
}

.payorder-orderanli {
    width: 100%;
    float: left;
    margin: 10px 0px;
}

.payorder-orderanli .orderanli-pic {
    width: 100%;
    float: left;
    margin: 10px 0px;
}

.payorder-orderanli .orderanli-explain {
    width: 100%;
    float: left;
}

.payorder-orderanli .orderanli-explain p {
    line-height: 36px;
    font-size: 14px;
    font-weight: bold;
    color: #FF464E;
}

.payorder-order-add {
    width: 100%;
    float: left;
    margin: 10px 0px;
}

.payorder-order-add .order-add-lists {
    width: 100%;
}

.payorder-order-add .order-add-lists textarea {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
}

.payorder-order-add .order-add-btns {
    width: 100%;
    float: left;
    margin: 10px 0px;
}

.payorder-order-add .order-add-btns .add-btn {
    display: inline-block;
    border: none;
    border-radius: 3px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    color: #ffffff;
    margin: 3px 8px;
    background-color: #FF464E;
    cursor: pointer;
}

.order-submit {
    width: 100%;
    margin: 10px 0px;
    float: left;
    text-align: center;
}

.order-submit button {
    display: inline-block;
    border: none;
    line-height: 36px;
    background-color: #FF464E;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    cursor: pointer;
}

/**
 * 财务管理 充值记录
 */
.finance-schcz-record {
    width: 100%;
    float: left;
    position: relative;
}

.finance-schcz-record .finance-schcz-orderno {
    width: 200px;
}

.finance-schcz-record .search-btn {
    margin-left: 16px;
    background-color: #FF464E;
    line-height: 30px;
    color: #ffffff;
    padding: 0px 15px;
    font-size: 14px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.finance-record-table{
    width: 100%;
    float: left;
    position: relative;
    margin: 16px 0px;
}
.finance-record-table .record-table{
    width: 100%;
}
.finance-record-table .record-table th{
    background-color: #F4F5F6;
    font-size: 14px;
    line-height: 36px;
}
.finance-record-table .record-table td {
    text-align: center;
    font-size: 12px;
    line-height: 36px;
    border-bottom: 1px solid #F4F5F6;
}