@charset "utf-8";
a,
body {
    color: #333;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5 arial, tahoma, \5b8b\4f53
}

body {
    background-color: #f4f5f6;
    font-family: 微软雅黑;
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

fieldset,
img {
    border: 0
}

li,
ol,
ul {
    list-style: none
}

button,
input,
select,
textarea {
    font-size: 100%;
    outline: 0
}

textarea {
    resize: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input[type='text'],
input[type='password'] {
    display: inline-block;
    width: 300px;
    height: 30px;
    padding: 0px 10px;
    vertical-align: middle;
    border: 1px solid #ccc;
}

a {
    text-decoration: none
}

.clear {
    display: block;
    height: 0;
    clear: both
}

.pagelist{
    width: 90%;
    margin: 16px auto;
    float: left;
    text-align: center;
}

.pagelist a{
    display: inline-block;
    line-height: 24px;
    border: 1px solid #cccccc;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 3px;
    margin-right: 3px;
}
.pagelist a:hover{
    color: #FF464E;
    border: 1px solid #FF464E;
}

/**
 *  header
 */
.header-box {
    width: 100%;
    float: left;
    position: relative;
}

.header-box .header {
    width: 100%;
    float: left;
    position: relative;
}

.header-box .header .header-top {
    width: 1200px;
    margin: 0px auto;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.header-box .header .header-top .login-info {
    float: left;
}

.header-box .header .header-top .login-info .welcome {
    display: inline-block;
    padding-right: 6px;
}

.header-box .header .header-top .login-info .userinfo {
    color: #FF464E;
    padding-right: 16px;
    font-weight: bold;
}

.header-box .header .header-top .login-info .user-exit {
    display: inline-block;
}

.header-box .header .header-top .login-info a:hover {
    color: #FF464E;
}

.header-box .header .header-top .list-nav {
    float: right;
}

.header-box .header .header-top .list-nav li {
    float: left;
    padding-right: 20px;
}

.header-box .header .header-top .list-nav li a {
    cursor: pointer;
}

.header-box .header .header-top .list-nav li a:hover {
    color: #FF464E;
}

.header-box .header-nav {
    width: 100%;
    float: left;
    background-color: #ffffff;
    position: relative;
}

.header-box .header-nav .header-nav-cont {
    width: 1200px;
    height: 80px;
    margin: 0px auto;
    position: relative;
    padding: 20px 0px;
    overflow: hidden;
}

.header-box .header-nav .header-nav-cont .header-logo {
    width: 360px;
    height: 80px;
    float: left;
    overflow: hidden;
    padding-right: 40px;
}

.header-box .header-nav .header-nav-cont .header-logo img {
    width: 200px;
    height: 80px;
}

.header-box .header-nav .nav {
    float: left;
    position: relative;
    height: 80px;
}

.header-box .header-nav .nav li {
    float: left;
    margin: 0px 10px;
    line-height: 78px;
}

.header-box .header-nav .nav li a {
    display: block;
    height: 80px;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 10px;
}

.header-box .header-nav .nav li:hover a {
    color: #FF464E;
    border-bottom: 2px solid #FF464E;
}



/**
 * footer 底部
 */
.footer-top{
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    padding: 30px 0px;
    border-bottom: 2px solid #eeeeee;
    background-color: #ffffff;
}
.footer-top-box{
    width: 1200px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}
.footer-top-main{
    width: 100%;
    float: left;
}
.footer-top-main ul{
    width: 100%;
    float: left;
}
.footer-top-main ul .ft-single{
    width: 270px;
    float: left;
    margin-right: 40px;
    overflow: hidden;
}
.footer-top-main ul .ft-single.nom{
    margin-right: 0px;
}

.footer-top-main ul .ft-single .footer-top-icon{
    width: 50px;
    height: 50px;
    float: left;
    overflow: hidden;
}
.footer-top-main ul .ft-single .footer-top-icon img{
    width: 100%;
    height: 100%;
}
.footer-top-main ul .ft-single .footer-top-info{
    width: 200px;
    float: left;
    padding-left: 20px;
}
.footer-top-main ul .ft-single .footer-top-info .ftitle{
    width: 100%;
    line-height: 30px;
    float: left;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
}
.footer-top-main ul .ft-single .footer-top-info .fdev{
    width: 100%;
    line-height: 20px;
    float: left;
    font-size: 14px;
    overflow: hidden;
}



.footer-box {
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    padding: 30px 0px;
    background-color: #ffffff;
}
.footer{
    width: 1200px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}
.footer-main{
    width: 100%;
    float: left;
    text-align: center;
}
.footer-main p{
    line-height: 30px;
    font-size: 12px;
}



/**
 * main body
 */
.content-box {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 30px;
}

.cont {
    width: 1200px;
    margin: 25px auto;
    position: relative;
}

.cont .cont-side {
    width: 200px;
    float: left;
    position: relative;
    overflow: hidden;
}

.cont-side .side-neck {
    width: 198px;
    float: left;
    height: 20px;
    background: #FFF;
    border: solid 1px #FFF;
    border-radius: 20px;
    box-shadow: 0 2px 5px #e3e3e3;
    z-index: 10;
}

.cont-side .side-neck i {
    display: block;
    margin: 5px 5px;
    height: 8px;
    background: #DDD;
    border: solid 1px #DDD;
    border-radius: 15px;
}

.cont-side .side-menu {
    width: 180px;
    float: left;
    margin-left: 10px;
    position: relative;
    top: -10px;
    overflow: hidden;
    box-shadow: 0 2px 5px #e3e3e3, -1px 2px 5px #e3e3e3;
}

.cont-side .side-menu-tree {
    width: 120px;
    position: relative;
    float: left;
    background-color: #ffffff;
    overflow: hidden;
    padding: 16px 10px 30px 50px;
    overflow: hidden;
}

.cont-side .side-menu-tree dt {
    font-size: 14px;
    line-height: 30px;
    font-family: "Microsoft YaHei";
    font-weight: 700;
    padding-top: 6px;
}

.cont-side .side-menu-tree dd {
    font-size: 12px;
    line-height: 26px;
    font-family: "Microsoft YaHei";
}

.cont-side .side-menu-tree dd a:hover {
    color: #FF464E;
}

.cont-side .icon-up-side {
    width: 100%;
    float: left;
    display: block;
    background: #f5f5f5;
    height: 20px;
    _height: 0;
    transition: all .2s;
    text-align: center;
}

.cont-side .icon-up-side i {
    display: inline-block;
    height: 0;
    width: 0;
    border: solid 5px #f5f5f5;
    margin-top: 3px;
    border-bottom-color: #BBB;
}


/**
 * 右侧内容
 */
.cont .cont-main {
    width: 940px;
    margin-left: 20px;
    float: left;
    position: relative;
    overflow: hidden;
    padding: 20px;
    background-color: #ffffff;
}

.cont .cont-main .title {
    width: 930px;
    font-size: 18px;
    float: left;
    line-height: 20px;
    margin-bottom: 18px;
    padding-left: 7px;
    border-left: 3px solid #fa3b4a;
    overflow: hidden;
}


/**
 * 会员中心
 */
.personal {
    width: 940px;
    float: left;
}

.personal .personal-photo {
    width: 120px;
    float: left;
    position: relative;
}

.personal .personal-photo img {
    width: 120px;
    height: 120px;
}

.personal .personal-photo .update-personal-photo {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    line-height: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.personal .personal-photo .update-personal-photo:hover {
    color: #fa3b4a;
}

.personal .personal-info {
    width: 800px;
    padding-left: 20px;
    float: left;
    overflow: hidden;
    position: relative;
}

.personal .personal-info .item {
    width: 800px;
    float: left;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dashed #eaeaea;
    overflow: hidden;
    font-size: 14px;
}

.personal .personal-info .item .item-title {
    width: 70px;
    float: left;
    text-align: right;
}

.personal .personal-info .item .item-value {
    width: 720px;
    padding-left: 10px;
    float: left;
    overflow: hidden;
}

.personal .personal-info .item .item-value input {
    width: 285px;
    height: 36px;
    margin-left: 22px;
    margin-top: 6px;
}
.personal .personal-info .item .item-value span{
    line-height: 36px;
    color: #999999;
    font-size: 12px;
    padding-left: 10px;
}

.personal .update-userinfo-button {
    width: 100%;
    float: left;
    text-align: center;
    padding: 16px 0px;
}

.personal .update-userinfo-button button {
    width: 100px;
    text-align: center;
    background-color: #FF464E;
    color: #ffffff;
    border: none;
    line-height: 36px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.personal .update-userinfo-button .insubbtn {
    width: 100px;
    text-align: center;
    background-color: #FF464E;
    color: #ffffff;
    border: none;
    line-height: 36px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}


.cont-main-box {
    width: 940px;
    float: left;
}

.payorder-step {
    width: 910px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F4F5F6;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
}

.payorder-selcangku {
    width: 100%;
    float: left;
    margin: 10px 0px;
}

.payorder-selcangku li {
    display: inline-block;
    float: left;
    line-height: 36px;
    padding: 0px 15px;
    font-size: 14px;
    background-color: #C1C1C1;
    color: #ffffff;
    margin: 10px;
    cursor: pointer;
}

.payorder-selcangku li:hover {
    background-color: #FF464E;
}

.payorder-sellipin {
    width: 100%;
    float: left;
    margin: 10px 0px;
}

.payorder-sellipin select {
    width: 100%;
    height: 30px;
    font-size: 14px;
}

.payorder-orderanli {
    width: 100%;
    float: left;
    margin: 10px 0px;
}

.payorder-orderanli .orderanli-pic {
    width: 100%;
    float: left;
    margin: 10px 0px;
}

.payorder-orderanli .orderanli-explain {
    width: 100%;
    float: left;
}

.payorder-orderanli .orderanli-explain p {
    line-height: 36px;
    font-size: 14px;
    font-weight: bold;
    color: #FF464E;
}

.payorder-order-add {
    width: 100%;
    float: left;
    margin: 10px 0px;
}

.payorder-order-add .order-add-lists {
    width: 100%;
}

.payorder-order-add .order-add-lists textarea {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
}

.payorder-order-add .order-add-btns {
    width: 100%;
    float: left;
    margin: 10px 0px;
}

.payorder-order-add .order-add-btns .add-btn {
    display: inline-block;
    border: none;
    border-radius: 3px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    color: #ffffff;
    margin: 3px 8px;
    background-color: #FF464E;
    cursor: pointer;
}

.order-submit {
    width: 100%;
    margin: 10px 0px;
    float: left;
    text-align: center;
}

.order-submit button {
    display: inline-block;
    border: none;
    line-height: 36px;
    background-color: #FF464E;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    cursor: pointer;
}

/**
 * 财务管理 充值记录
 */
.finance-schcz-record {
    width: 100%;
    float: left;
    position: relative;
}

.finance-schcz-record .finance-schcz-orderno {
    width: 200px;
}

.finance-schcz-record .search-btn {
    margin-left: 16px;
    background-color: #FF464E;
    line-height: 30px;
    color: #ffffff;
    padding: 0px 15px;
    font-size: 14px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.finance-record-table{
    width: 100%;
    float: left;
    position: relative;
    margin: 16px 0px;
}
.finance-record-table .record-table{
    width: 100%;
}
.finance-record-table .record-table th{
    background-color: #F4F5F6;
    font-size: 14px;
    line-height: 36px;
}
.finance-record-table .record-table td {
    text-align: center;
    font-size: 12px;
    line-height: 36px;
    border-bottom: 1px solid #F4F5F6;
}

.spread-line{
    font-size: 14px;
    border: 1px solid #cccccc;
    line-height: 36px;
    padding-left: 20px;
}
.spread-line .copymyline{
    margin-left: 20px;
    color: #FF464E;
    font-size: 14px;
    cursor: pointer;
}

/**
 * 升级代理
 */
.upvip-explain{
    width: 90%;
    padding: 20px 3%;
    margin: 10px 2%;
    float: left;
    background-color: #F4F5F6;
}
.upvip-explain p{
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
}
.upvip-upgrade{
    width: 96%;
    padding: 10px 0px;
    margin: 10px 2%;
    float: left;
}
.upvip-upgrade table{
    width: 100%;
}
.upvip-upgrade table tr td{
    line-height: 36px;
    font-size: 14px;
    font-weight: bold;
}
.upvip-upgrade table .td-title{
    width: 120px;
    text-align: right;
}
.upvip-upgrade table .td-value{
    text-align: left;
    color: #FF464E;
}
.upvip-upgrade table .td-value .yue-util{
    color: #333333;
}
.upvip-upgrade table .td-value .levels{
    width: 200px;
    height: 30px;
    font-size: 14px;
}
.upvip-upgrade table .td-value .upgrade-btn{
    display: inline-block;
    border: none;
    border-radius: 3px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 10px;
    background-color: #FF464E;
    cursor: pointer;
}


/************* 登录 *****************/
.login-bg{
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    background: rgb(57, 205, 235) none repeat scroll 0% 0%;
}
.login-bg-box{
    width: 1200px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}
.login-bg-box .login-bg-img{
    display: block;
    width: 1200px;
    height: 600px;
    position: relative;
}

.login-box{
    position: absolute;
    width: 360px;
    right: 0px;
    top: 50px;
    background-color: #ffffff;
    padding: 30px;
    box-sizing: border-box;
}
.login-box .ltitle{
    text-align: center;
    font-size: 20px;
    color: #8c8c8c;
    line-height: 40px;
    margin-bottom: 30px;
}
.login-box .login-input{
    margin-bottom: 15px;
    border: 1px solid #e1e1e1;
    height: 36px;
}
.login-box .login-input label{
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 8px;
    float: left;
}
.login-box .login-input label img{
    width: 100%;
    height: 100%;
}
.login-box .login-input input{
    border: none;
    color: #666666;
    outline: none;
    height: 36px;
    font-size: 16px;
    width: 250px;
    padding: 0px;
    margin: 0px;
    float: left;
}

.login-box .login-btn .subbtn{
    width: 100%;
    border: none;
    background-color: #FF464E;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
    border-radius: 5px;
    cursor: pointer;
}


