<html>
<head>
    <meta charset="utf-8">
    <title>{$website_name}</title>
    <meta name="keywords" content="{$website_keyword}">
    <link rel="icon" href="{$website_logo}" type="image/gif">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.27, maximum-scale=0.27, minimum-scale=0.27">
    <link rel="stylesheet" href="/static/index/css/style.css">
    <link rel="stylesheet" href="/static/index/css/product.css">
    <script type="text/javascript" src="/static/common/js/jquery-1.9.1.min.js"></script>
</head>
<body>
{include file="public/header" /}
<div class="prodict-con-box">
    <div class="prodict-con">
        <input type="hidden" id="yckid" value="{$ckid}"/>
        {foreach $warehouseList as $key => $warehouse}
        <div class="cangku{if condition='$key > 0'} nom{/if}">
            <div class="pck-title">{$warehouse.className}：</div>
            <ul id="pselcangku">
                {foreach $warehouse.children as $warehousech}
                <li data-ckid="{$warehousech.wh_id}" {if condition="$ckid==$warehousech.wh_id" } class="action" {/if}>{$warehousech.wh_title}</li>
                {/foreach}
            </ul>
        </div>
        {/foreach}
        <div class="paixu">
            <input type="hidden" id="yoby" value="{$oby}"/>
            <div class="px-title">排序：</div>
            <ul id="pselorderby">
                <li data-oby="1" {if condition="$oby==1" } class="action" {/if}>价格最低</li>
                <li data-oby="2" {if condition="$oby==2" } class="action" {/if}>价格最高</li>
            </ul>
        </div>
        <div class="clear"></div>
        <script type="text/javascript">
            $(function () {
                $("#pselcangku li").click(function () {
                    var ckid = $(this).attr("data-ckid");
                    var yoby = $("#yoby").val();
                    window.location.href = "/index/product/index/ckid/" + ckid + "/oby/" + yoby;
                });
                $("#pselorderby li").click(function () {
                    var oby = $(this).attr("data-oby");
                    var yckid = $("#yckid").val();
                    window.location.href = "/index/product/index/ckid/" + yckid + "/oby/" + oby;
                });
            })
        </script>
    </div>
</div>
<div class="newproduct-box">
    <div class="newproduct">
        <ul class="newproduct-list">
            {foreach $newGoodsList as $goods}
            <li>
                <a href="/member/order/payOrderPage/gid/{$goods.kdId}">
                    <div class="newproduct-pic">
                        <img src="{$goods.good_pic}"/>
                    </div>
                    <p class="nwpro-title">{$goods.goodsTitle}</p>
                    <p class="nwpro-price">
                        <span class="price">￥
	{if condition="$mrank==0"}
		{$goods.cost_price + $goods.good_price}
	{elseif condition="$mrank==1" }
		{if condition="empty($goods.good_special_price)"}{$goods.cost_price + $goods.good_price}
		{else /}{$goods.cost_price + $goods.good_special_price}
		{/if}
	{else if condition="$mrank==2"}
		{if condition="empty($goods.good_special_vip_price)"}{$goods.cost_price + $goods.good_vip_price}
		{else /}{$goods.cost_price + $goods.good_special_vip_price}
		{/if}
	{/if} </span><span class="util">元/单</span>
                    </p>
                    <p class="nwpro-buy-btn">
                        <button>立即购买</button>
                    </p>
                </a>
            </li>
            {/foreach}
        </ul>
        <div class="clear"></div>
    </div>
</div>
{include file="public/footer" /}
</body>
</html>