<html>
<head>
    <meta charset="utf-8">
    <title>玖玖网</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/index/css/style.css">
    <link rel="stylesheet" href="/static/index/css/product.css">
    <script type="text/javascript" src="/static/common/js/jquery-1.9.1.min.js"></script>
</head>
<body>
{include file="public/header" /}
<div class="prodict-con-box">
    <div class="prodict-con">
        <div class="cangku">
            <input type="hidden" id="yckid" value="{$ckid}"/>
            <div class="pck-title">仓库：</div>
            <ul id="pselcangku">
                <li data-ckid="0" {if condition="$ckid==0" } class="action" {/if}>全部仓库</li>
                {foreach $warehouselist as $warehouse}
                <li data-ckid="{$warehouse.wh_id}" {if condition="$ckid==$warehouse.wh_id" } class="action" {/if}>{$warehouse.wh_title}</li>
                {/foreach}
            </ul>
        </div>
        <div class="paixu">
            <input type="hidden" id="yoby" value="{$oby}"/>
            <div class="px-title">排序：</div>
            <ul id="pselorderby">
                <li data-oby="0" {if condition="$oby==0" } class="action" {/if}>默认排序</li>
                <li data-oby="1" {if condition="$oby==1" } class="action" {/if}>价格最低</li>
                <li data-oby="2" {if condition="$oby==2" } class="action" {/if}>价格最高</li>
            </ul>
        </div>
        <div class="clear"></div>
        <script type="text/javascript">
            $(function () {
                $("#pselcangku li").click(function () {
                    var ckid = $(this).attr("data-ckid");
                    var yoby = $("#yoby").val();
                    window.location.href = "/index/product/index/ckid/" + ckid + "/oby/" + yoby;
                });
                $("#pselorderby li").click(function () {
                    var oby = $(this).attr("data-oby");
                    var yckid = $("#yckid").val();
                    window.location.href = "/index/product/index/ckid/" + yckid + "/oby/" + oby;
                });
            })
        </script>
    </div>
</div>
<div class="newproduct-box">
    <div class="newproduct">
        <ul class="newproduct-list">
            {foreach $newGoodsList as $goods}
            <li>
                <a href="/member/order/payOrderPage?gid={$goods.kdId}">
                    <div class="newproduct-pic">
                        <img src="{$goods.good_pic}"/>
                    </div>
                    <p class="nwpro-title">{$goods.goodsTitle}</p>
                    <p class="nwpro-price">
                        <span class="price">￥ {$goods.good_price} </span><span class="util">元/单</span>
                    </p>
                    <p class="nwpro-buy-btn">
                        <button>立即购买</button>
                    </p>
                </a>
            </li>
            {/foreach}
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="news-box">
    <div class="news">
        <div class="news-main">
            <div class="news-single">
                <div class="news-single-top">
                    <span class="nstitle">电商资讯</span>
                    <a href="" class="nsmore">MORE</a>
                </div>
                <ul class="news-single-list">
                    <li>
                        <span class="nslinum">01</span>
                        <a href="" class="nstitle">刷单礼品代发值得客户选择的理由是什么刷单礼品代发值得客户选择的理由是什么</a>
                    </li>
                    <li>
                        <span class="nslinum">01</span>
                        <a href="" class="nstitle">刷单礼品代发值得客户选择的理由是什么刷单礼品代发值得客户选择的理由是什么</a>
                    </li>
                    <li>
                        <span class="nslinum">01</span>
                        <a href="" class="nstitle">刷单礼品代发值得客户选择的理由是什么刷单礼品代发值得客户选择的理由是什么</a>
                    </li>
                    <li>
                        <span class="nslinum">01</span>
                        <a href="" class="nstitle">刷单礼品代发值得客户选择的理由是什么刷单礼品代发值得客户选择的理由是什么</a>
                    </li>
                    <li>
                        <span class="nslinum">01</span>
                        <a href="" class="nstitle">刷单礼品代发值得客户选择的理由是什么刷单礼品代发值得客户选择的理由是什么</a>
                    </li>
                </ul>
            </div>
            <div class="news-single">
                <div class="news-single-top">
                    <span class="nstitle">礼品资讯</span>
                    <a href="" class="nsmore">MORE</a>
                </div>
                <ul class="news-single-list">
                    <li>
                        <span class="nslinum">01</span>
                        <a href="" class="nstitle">刷单礼品代发值得客户选择的理由是什么刷单礼品代发值得客户选择的理由是什么</a>
                    </li>
                    <li>
                        <span class="nslinum">01</span>
                        <a href="" class="nstitle">刷单礼品代发值得客户选择的理由是什么刷单礼品代发值得客户选择的理由是什么</a>
                    </li>
                    <li>
                        <span class="nslinum">01</span>
                        <a href="" class="nstitle">刷单礼品代发值得客户选择的理由是什么刷单礼品代发值得客户选择的理由是什么</a>
                    </li>
                    <li>
                        <span class="nslinum">01</span>
                        <a href="" class="nstitle">刷单礼品代发值得客户选择的理由是什么刷单礼品代发值得客户选择的理由是什么</a>
                    </li>
                    <li>
                        <span class="nslinum">01</span>
                        <a href="" class="nstitle">刷单礼品代发值得客户选择的理由是什么刷单礼品代发值得客户选择的理由是什么</a>
                    </li>
                </ul>
            </div>
            <div class="news-single">
                <div class="news-single-top">
                    <span class="nstitle">常见问题</span>
                    <a href="" class="nsmore">MORE</a>
                </div>
                <ul class="news-single-list">
                    <li>
                        <span class="nslinum">01</span>
                        <a href="" class="nstitle">刷单礼品代发值得客户选择的理由是什么刷单礼品代发值得客户选择的理由是什么</a>
                    </li>
                    <li>
                        <span class="nslinum">01</span>
                        <a href="" class="nstitle">刷单礼品代发值得客户选择的理由是什么刷单礼品代发值得客户选择的理由是什么</a>
                    </li>
                    <li>
                        <span class="nslinum">01</span>
                        <a href="" class="nstitle">刷单礼品代发值得客户选择的理由是什么刷单礼品代发值得客户选择的理由是什么</a>
                    </li>
                    <li>
                        <span class="nslinum">01</span>
                        <a href="" class="nstitle">刷单礼品代发值得客户选择的理由是什么刷单礼品代发值得客户选择的理由是什么</a>
                    </li>
                    <li>
                        <span class="nslinum">01</span>
                        <a href="" class="nstitle">刷单礼品代发值得客户选择的理由是什么刷单礼品代发值得客户选择的理由是什么</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
{include file="public/footer" /}
</body>
</html>