<html>
<head>
    <meta charset="utf-8">
    <title>会员中心</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/member/css/member-main.css">
</head>
<body>
<!--HEADER-->
{include file="public/header" /}
<!--END HEADER-->
<!--content-box-->
<div class="content-box">
    <div class="cont">
        <!-- cont-side -->
        {include file="public/left" /}
        <!-- END cont-side -->
        <!-- cont-main -->
        <div class="cont-main">
            <div class="title">资金明细</div>
            <div class="cont-main-box">
                <div class="finance-schcz-record">
                    <form action="" method="post">
                        订单号：<input type="text" name="" class="finance-schcz-orderno" />
                        交易时间：<input type="text" name="" class="finance-schcz-orderno" /> <input type="text" name="" class="finance-schcz-orderno" />
                        <input type="submit" value="查 询" class="search-btn" />
                    </form>
                </div>
                <div class="finance-record-table">
                    <table class="record-table">
                        <tr>
                            <th>类型</th>
                            <th>充值金额</th>
                            <th>交易时间</th>
                        </tr>
                        {foreach $recordList as $record}
                        <tr>
                            <td>{$record.change_type}</td>
                            <td>{$record.change_money}</td>
                            <td>{$record.change_time}</td>
                        </tr>
                        {/foreach}
                    </table>
                    <div class="pagelist">
                        {$page}
                    </div>
                </div>
            </div>
        </div>
        <!-- END cont-main -->
    </div>
    <div class="clear"></div>
</div>
<!--END content-box-->
<!-- footer -->
{include file="public/footer" /}
<!-- END footer -->
</body>
</html>