<html>
<head>
    <meta charset="utf-8">
    <title>会员中心</title>
    <link rel="icon" href="{$website_logo}" type="image/gif">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.27, maximum-scale=0.27, minimum-scale=0.27">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/member/css/member-main.css">
</head>
<body>
<!--HEADER-->
{include file="public/header" /}
<!--END HEADER-->
<!--content-box-->
<style type="text/css">
    .layui-form-item .layui-input-inline {
        float: left;
        width: 100px;
        margin-right: 10px;
    }
</style>
<div class="content-box">
    <div class="cont">
        <!-- cont-side -->
        {include file="public/left" /}
        <!-- END cont-side -->
        <!-- cont-main -->
        <div class="cont-main">
            <div class="title">充值记录</div>
            <div class="cont-main-box">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div>
                            <label style="float: left;display: block;padding: 9px 6px;font-weight: 400;line-height: 20px;text-align: right;">查询</label>
                            <div class="layui-input-inline" style="width: 200px">
                                <input type="text" placeholder="订单号" id="serach_param"
                                       autocomplete="off" class="layui-input"
                                       style="width:200px !important;height: 30px !important;margin-top: 4px !important;">
                            </div>
                        </div>
                        <div>
                            <label style="float: left;display: block;padding: 9px 6px;font-weight: 400;line-height: 20px;text-align: right;">日期</label>
                            <div class="layui-input-inline">
                                <input type="text" name="date_atart" id="serach_param_date_atart" lay-verify="date"
                                       placeholder="开始日期"
                                       autocomplete="off" class="layui-input"
                                       style="width: 100px !important;height: 30px !important;margin-top: 4px !important;">
                            </div>
                        </div>
                        <div>
                            <label style="float: left;display: block;padding: 9px 9px;margin-left:-5px;font-weight: 400;line-height: 20px;text-align: right;">~</label>
                            <div class="layui-input-inline">
                                <input type="text" name="date_end" id="serach_param_date_end" lay-verify="url"
                                       placeholder="结束日期"
                                       autocomplete="off" class="layui-input"
                                       style="width: 100px !important;height: 30px !important;margin-top: 4px !important;">
                            </div>
                        </div>
                        <button type="button" class="apply-for-btn" onclick="serach()">搜索</button>

                    </div>
                </form>
                <!--表格-->
                <table id="sample-table" lay-filter="table_record" lay-skin="nob" style="margin-top: -15px"></table>
            </div>
        </div>
        <!-- END cont-main -->
    </div>
    <div class="clear"></div>
</div>
<script>
    /**设置等级下拉框数据*/
    var table;
    var laydate;
    var form;
    $(function () {
        layui.use(['table', 'laydate', 'form'], function () {
            table = layui.table;
            laydate = layui.laydate;
            form = layui.form;

            table.render({
                elem: '#sample-table'
                , method: 'post'
                , url: "/member/finance/rechargeRecord"
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , limit: 100
                , height: 'full-240'
                , cols: [[
                    {field: 'recharge_trade_no', align: 'center', title: '订单号'}
                    , {field: 'recharge_money', align: 'center', title: '充值金额', sort: true}
                    , {field: 'recharge_time', title: '充值时间', align: 'center', sort: true}
                ]]
                , parseData: function (res) {
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.result.total, //解析数据长度
                        "data": res.result.data //解析数据列表
                    }
                }
                , response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: 10000 //规定成功的状态码，默认：0
                    , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                    , countName: 'count' //规定数据总数的字段名称，默认：count
                    , dataName: 'data' //规定数据列表的字段名称，默认：data
                }
                , page: {
                    layout: ['prev', 'page', 'next', 'skip', 'refresh']
                }
            });

            laydate.render({
                elem: '#serach_param_date_atart'
            });
            laydate.render({
                elem: '#serach_param_date_end'
            });
        });
        if ({$code} == 200) {
            layer.msg("支付成功", {
                icon: 1,
                area: ['180px', '60px'],
                offset: 360,
                time: 3000
            });
        } else if ({$code} == 400) {
            layer.msg("支付失败", {
                icon: 2,
                area: ['180px', '60px'],
                offset: 360,
                time: 3000
            });
        }
    });

    /**搜索*/
    function serach() {
        table.reload('sample-table', {
            url: '/member/finance/serachrechargerecord'
            , where: {
                serach_param: $('#serach_param').val(),
                dateatart: $('#serach_param_date_atart').val(),
                dateend: $('#serach_param_date_end').val()
            } //设定异步数据接口的额外参数
        });
    }

</script>
<!--END content-box-->
<!-- footer -->
{include file="public/footer" /}
<!-- END footer -->
</body>
</html>