<html>
<head>
    <meta charset="utf-8">
    <title>玖玖网</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/index/css/style.css">
    <link rel="stylesheet" href="/static/index/css/index.css">
    <script type="text/javascript" src="/static/common/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/index/js/slider.js"></script>
</head>
<body>
<!--HEADER-->
{include file="public/header" /}
<!--END HEADER-->
<!--BANNER-->
<div class="banner">
    <div id="banner_tabs" class="flexslider">
        <ul class="slides">
            <li> <a href="#"> <img alt="" style="background: url(/static/index/images/banner.jpg) no-repeat center;" src="/static/index/images/alpha.png"> </a> </li>
            <li> <a href="#"> <img alt="" style="background: url(/static/index/images/banner.jpg) no-repeat center;" src="/static/index/images/alpha.png"></a> </li>
            <li> <a href="#"> <img alt="" style="background: url(/static/index/images/banner.jpg) no-repeat center;" src="/static/index/images/alpha.png"> </a> </li>
        </ul>
        <ul class="flex-direction-nav">
            <li><a class="flex-prev" href="javascript:;" style="margin-left:50px;">Previous</a></li>
            <li><a class="flex-next" href="javascript:;" style="margin-right:50px;">Next</a></li>
        </ul>
    </div>
    <!--会员中心-->
    <div class="persion-box">
        <div class="persion-box-cont">
            <div class="persion-info">
                <div class="persion-pic">
                    <img src="/static/index/images/photo.png" />
                </div>
                <div class="persion-wel">
                    Hi，欢迎来到玖玖网！
                </div>
            </div>
            <div class="persion-login-reg">
                <button class="login">会员登录</button>
                <button class="register">会员注册</button>
            </div>
            <div class="notice">
                <div class="notice-title">公告</div>
                <ul class="notice-list">
                    <li><a href="">111111111111111111111111111111111111</a></li>
                    <li><a href="">111111111111111111111111111111111111</a></li>
                    <li><a href="">111111111111111111111111111111111111</a></li>
                    <li><a href="">111111111111111111111111111111111111</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--END 会员中心-->
</div>
<!--END BANNER-->
<!--content-box-->
<div class="content-box">
    <div class="cont">
    </div>
    <div class="clear"></div>
</div>
<!--END content-box-->
<!-- footer -->
{include file="public/footer" /}
<!-- END footer -->
</body>
</html>