<html>
<head>
    <meta charset="utf-8">
    <title>会员中心</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/member/css/member-main.css">
</head>
<body>
<!--HEADER-->
{include file="public/header" /}
<!--END HEADER-->
<!--content-box-->
<div class="content-box">
    <div class="cont">
        <!-- cont-side -->
        {include file="public/left" /}
        <!-- END cont-side -->
        <!-- cont-main -->
        <div class="cont-main">
            <div class="title">礼品下单</div>
            <div class="cont-main-box">
                <div class="payorder-step">第一步：选择仓库</div>
                <ul class="payorder-selcangku">
                    {foreach $warehouseList as $warehouse}
                    <li>{$warehouse.wh_title}</li>
                    {/foreach}
                </ul>
                <div class="payorder-step">第二步：选择快递类型</div>
                <div class="payorder-sellipin">
                    <select>
                        <option value="123">123</option>
                        <option value="123">123</option>
                        <option value="123">123</option>
                        <option value="123">123</option>
                        <option value="123">123</option>
                        <option value="123">123</option>
                    </select>
                </div>
                <div class="payorder-step">第三步：请严格按样式图去复制地址提交，否则无法购买单号</div>
                <div class="payorder-orderanli">
                    <div class="orderanli-pic">
                        <img src="/static/member/images/payorder-anli.jpg" width="710" height="130" />
                    </div>
                    <div class="orderanli-explain">
                        <p>收货地址格式：李四，15888888888，广东省 广州市 番禺区 岭南大道321号 ，330006 </p>
                    </div>
                </div>
                <div class="payorder-step">第四步：填写收货地址↓可批量购买单号，每行一个地址 最多个地址</div>
                <div class="payorder-order-add">
                    <div class="order-add-lists">
                        <textarea></textarea>
                    </div>
                    <div class="order-add-btns">
                        <button class="add-btn">检查收货地址</button>
                        <button class="add-btn">检查收货地址</button>
                        <button class="add-btn">检查收货地址</button>
                    </div>
                </div>
                <div class="order-submit">
                    <button>确认购买</button>
                </div>
            </div>
        </div>
        <!-- END cont-main -->
    </div>
    <div class="clear"></div>
</div>
<!--END content-box-->
<!-- footer -->
{include file="public/footer" /}
<!-- END footer -->
</body>
</html>