<html>
<head>
    <meta charset="utf-8">
    <title>会员中心</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/member/css/member-main.css">
    <link rel="stylesheet" href="/static/common/layui/css/layui.css">
    <script type="text/javascript" src="/static/common/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/common/layui/layui.js"></script>
    <script type="text/javascript" src="/static/member/js/payorder.js"></script>
</head>
<body>
<!--HEADER-->
{include file="public/header" /}
<!--END HEADER-->
<!--content-box-->
<div class="content-box">
    <div class="cont">
        <!-- cont-side -->
        {include file="public/left" /}
        <!-- END cont-side -->
        <!-- cont-main -->
        <div class="cont-main">
            <div class="title">礼品下单</div>
            <div class="cont-main-box">
                <div class="payorder-step">第一步：选择仓库</div>
                <ul class="payorder-selcangku" id="selcangku">
                    {foreach $warehouseList as $warehouse}
                    <li data-ckid="{$warehouse.wh_id}" {if condition="$classid==$warehouse.wh_id"} class="action"{/if}>{$warehouse.wh_title}</li>
                    {/foreach}
                </ul>
                <div class="payorder-step">第二步：选择快递类型</div>
                <div class="payorder-sellipin">
                    <select id="selproduct">
                        {if condition="empty($goodsList) eq true"}
                            <option value="0" data-myprice="0">请选择需要购买的快递公司物流</option>
                        {else /}
                            <option value="0" data-myprice="0" selected>请选择需要购买的快递公司物流</option>
                            {foreach $goodsList as $goods}
                            <option value="{$goods.kdId}" data-myprice="{if condition='$memberrank==1'}{$goods.cost_price + $goods.good_price}{else if condition='$memberrank==2'}{$goods.cost_price + $goods.good_vip_price}{/if}"{if condition="$goods.kdId==$kdId"} selected{/if}>{$goods.kdName} 普通会员价:{$goods.cost_price + $goods.good_price} / 代理会员价:{$goods.cost_price + $goods.good_vip_price} / 我的价格:{if condition="$memberrank==1"}{$goods.cost_price + $goods.good_price}{else if condition="$memberrank==2"}{$goods.cost_price + $goods.good_vip_price}{/if}</option>
                            {/foreach}
                        {/if}
                    </select>
                </div>
                <div class="payorder-step">第三步：请严格按样式图去复制地址提交，否则无法购买单号</div>
                <div class="payorder-orderanli">
                    <div class="orderanli-pic">
                        <img src="/static/member/images/payorder-anli.jpg" width="710" height="130" />
                    </div>
                    <div class="orderanli-explain">
                        <p>收货地址格式：李四，15888888888，广东省 广州市 番禺区 岭南大道321号 ，330006 </p>
                    </div>
                </div>
                <div class="payorder-step">第四步：填写收货地址↓可批量购买单号，每行一个地址 最多1000个地址</div>
                <div class="payorder-order-add">
                    <div class="order-add-lists">
                        <textarea id="content" name="content"></textarea>
                    </div>
                    <div class="order-add-btns">
                        <button type="button" class="add-btn" onclick="checkAddress();">检查收货地址</button>
                        <!--button class="add-btn">检查收货地址</button>
                        <button class="add-btn">检查收货地址</button-->
                    </div>
                </div>
                <div class="order-memb-info">
                    余额：<span class="jine">{$memberBalance}</span> 元，【 <span class="daili">{if condition="$memberrank==1"}普通会员{else if condition="$memberrank==2"}代理会员{/if}</span> 】下单：<span id="curgoodsprice">0</span>元/单
                </div>
                <div class="order-address-table">
                   <table id="tb_addrs">
                       <tr>
                           <th>序号</th>
                           <th>收货人</th>
                           <th>收货电话</th>
                           <th>收货地址</th>
                           <th>邮编</th>
                       </tr>
                   </table>
                </div>
                <div class="order-submit">
                    <button type="submit" onclick="buyGoods();">确认购买</button>
                </div>
            </div>
        </div>
        <!-- END cont-main -->
    </div>
    <div class="clear"></div>
</div>
<!--END content-box-->
<!-- footer -->
{include file="public/footer" /}
<!-- END footer -->
</body>
</html>