<html>
<head>
    <meta charset="utf-8">
    <title>玖玖网</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/index/css/style.css">
    <link rel="stylesheet" href="/static/index/css/news.css">
</head>
<body>
{include file="public/header" /}
<div class="news-banner">
    <img src="/static/index/images/banner.jpg"/>
</div>
<div class="news-nav-box">
    <ul class="news-nav">
        <li>
            <a href="" class="action">礼品资讯</a>
        </li>
        <li>
            <a href="">电商资讯</a>
        </li>
        <li>
            <a href="">常见问题</a>
        </li>
        <li>
            <a href="">网站公告</a>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div class="news-list-box">
    <div class="news-list">
        <ul>
            <li>
                <a href="">
                    <div class="news-pic">
                        <img src="/static/index/images/product.jpg"/>
                    </div>
                    <div class="news-info">
                        <div class="ntitle">网站公告</div>
                        <div class="ntime">2020-01-01 10:10</div>
                        <div class="ndes">
                            网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="news-pic">
                        <img src="/static/index/images/product.jpg"/>
                    </div>
                    <div class="news-info">
                        <div class="ntitle">网站公告</div>
                        <div class="ntime">2020-01-01 10:10</div>
                        <div class="ndes">网站公告网站公公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告网站公告</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
{include file="public/footer" /}
</body>
</html>