<html>
<head>
    <meta charset="utf-8">
    <title>会员中心</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/member/css/member-main.css">
    <script type="text/javascript" src="/static/common/js/jquery-1.9.1.min.js" ></script>
</head>
<body>
    <!--HEADER-->
    {include file="public/header" /}
    <!--END HEADER-->
    <!--personal-member-->
    <div class="personal-member">
        <div class="cont">
            <!-- cont-side -->
            <div class="cont-side">
                <div class="side-neck">
                    <i></i>
                </div>
                <dl class="side-menu-tree">
                    <dt>
                        <img src="" />
                        <span>订单管理</span>
                    </dt>
                    <dd>
                        <a href="">我的订单</a>
                        <a href="">我的订单</a>
                        <a href="">我的订单</a>
                        <a href="">我的订单</a>
                    </dd>
                </dl>
            </div>
            <!-- END cont-side -->
            <!-- cont-main -->
            <div class="cont-main"></div>
            <!-- END cont-main -->
        </div>
    </div>
    <!--END personal-member-->
    <!-- footer -->
    {include file="public/footer" /}
    <!-- END footer -->
</body>
</html>