<div class="header-box">
    <div class="header">
        <div class="header-top">
            <div class="login-info">
                <span class="welcome">你好，欢迎来到玖玖发网！</span>
                {if condition="$Think.session.MUserName"}
                <a href="{:url('member/index/index')}" class="userinfo">{$Think.session.MUserName}</a>
                <a href="{:url('member/login/exitLogin')}" class="user-exit">退出</a>
                {/if}
            </div>
            <ul class="list-nav">
                <li><a href="">邀请好友</a></li>
                <li><a href="">代发指南</a></li>
                <li><a href="">API开放</a></li>
                <li><a href="">收藏本站</a></li>
            </ul>
        </div>
        <div class="header-nav">
            <div class="header-nav-cont">
                <div class="header-logo">
                    <img src="/static/common/images/logo.png" title="玖玖发网" alt="玖玖发网"/>
                </div>
                <ul class="nav">
                    <li>
                        <a href="{:url('/')}">首 页</a>
                    </li>
                    <li>
                        <a href="{:url('/index/product/index')}">礼品商城</a>
                    </li>
                    <li>
                        <a href="">礼品资讯</a>
                    </li>
                    <li>
                        <a href="">电商资讯</a>
                    </li>
                    <li>
                        <a href="">常见问题</a>
                    </li>
                    <li>
                        <a href="">网站公告</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>