<script type="text/javascript" src="/static/common/js/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" href="/static/common/layui/css/layui.css">
<script type="text/javascript" src="/static/common/layui/layui.all.js"></script>
<script type="text/javascript" src="/static/common/js/checkutils.js"></script>
<script>
    var layer;
    layui.use('layer', function () {
        layer = layui.layer;
        ;
    })
</script>
<div class="header-box">
    <div class="header">
        <div class="header-top">
            <div class="login-info">
                <span class="welcome">你好，欢迎来到{$website_name}！</span>
                {if condition="$Think.session.MUserName"}
                <a href="{:url('member/account/personinfo')}" class="userinfo">{$Think.session.MUserName}</a>
                <a href="{:url('member/login/exitLogin')}" class="user-exit">退出</a>
                {/if}
            </div>
            <ul class="list-nav">
                <li><a href="{:url('member/account/myspreadline')}">邀请好友</a></li>
                <li><a href="{:url('index/news/lipin')}">礼品资讯</a></li>
                <li><a href="">API开放</a></li>
                <li><a href="#">Ctrl+D 收藏本站</a></li>
            </ul>
        </div>
        <div class="header-nav">
            <div class="header-nav-cont">
                <div class="header-logo">
                    <img src="{$website_top_logo}" title="{$website_name}" alt="{$website_name}"/>
                </div>
                <ul class="nav">
                    <li>
                        <a href="/">首 页</a>
                    </li>
                    <li>
                        <a href="{:url('/index/product/index')}">礼品商城</a>
                    </li>
                    <li>
                        <a href="{:url('/index/news/lipin')}">礼品资讯</a>
                    </li>
                    <li>
                        <a href="{:url('/index/news/retailer')}">电商资讯</a>
                    </li>
                    <li>
                        <a href="{:url('/index/news/problem')}">常见问题</a>
                    </li>
                    <li>
                        <a href="{:url('member/account/personinfo')}">个人中心</a>
                    </li>
                </ul>
                {empty name="$Think.session.MUserName" }
                <div style="color: #999; float: left; height: 80px; margin-left:50px;font-size: 14px">
                    <span style=" float: left; line-height: 80px;font-size: 14px;">
                        <a href="{:url('member/login/login')}" style="color: #ff2520;">登录</a>
                    </span>
                    <span style=" float: left; line-height: 80px;font-size: 14px;">&nbsp; /&nbsp; </span>
                    <span style=" float: left; line-height: 80px;font-size: 14px;">
                        <a href="{:url('member/login/register')}" style="color: #000000;">注册</a>
                    </span>
                </div>
                {/empty}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<style>
    .flex-column-center {
        display: flex;
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */

        align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;

        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
    }
</style>
<div style="z-index:9999;position: fixed;right: 0px;top: 40%;background: rgb(255, 255, 255);box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;border-radius: 3px;">
    <div style="right: 0px;width:60px;height:60px;background:rgba(255,255,255,1);
    border-radius: 3px;cursor: pointer" class="flex-column-center" id="wechat">
        <img src="{$Think.INDEX_SITE_ROOT}/images/wechat.png" style="width: 30px;height: 30px;margin-top: 5px" alt="微信">
        <span style="color: #333;font-size: 12px;">微信</span>
    </div>
    <div style="right: 0px;width:60px;height:60px;background:rgba(255,255,255,1);
    border-radius: 3px;cursor: pointer" class="flex-column-center" id="wechatgroup">
        <img src="{$Think.INDEX_SITE_ROOT}/images/wechatgroup.png" style="width: 30px;height: 30px;margin-top: 5px"
             alt="微信">
        <span style="color: #333;font-size: 12px;">微信群</span>
    </div>
    <a href="tencent://message/?uin={$saler_qq}">
        <div style="right: 0px;width:60px;height:60px;background:rgba(255,255,255,1);
    border-radius: 3px;cursor: pointer" class="flex-column-center" id="qq">
            <img src="{$Think.INDEX_SITE_ROOT}/images/qq.png" style="width: 30px;height: 30px;margin-top: 5px"
                 alt="qq">
            <span style="color: #333;font-size: 12px;">QQ</span>
        </div>
    </a>
</div>

<div style="z-index:9999;display:none;position: fixed;right: 60px;top: 40%;padding: 8px;background: rgb(255, 255, 255);box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;border-radius: 3px;"
     class="flex-column-center wechat_dialog">
    <img src="{$saler_wechat}" style="width: 124px;"
         alt="微信">
</div>
<div style="z-index:9999;display:none;position: fixed;right: 60px;top: 40%;margin-top:60px;padding: 8px;background: rgb(255, 255, 255);box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;border-radius: 3px;"
     class="flex-column-center wechatgroup_dialog">
    <img src="{$saler_wechat_group}" style="width: 124px;"
         alt="微信群">
</div>

<script type="text/javascript">
    $('#wechat').hover(function () {  // 进入
        $('.wechat_dialog').show()
    }, function () {  // 离开
        $('.wechat_dialog').hide()
    });
    $('#wechatgroup').hover(function () {  // 进入
        $('.wechatgroup_dialog').show()
    }, function () {  // 离开
        $('.wechatgroup_dialog').hide()
    });
</script>