<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客服配置</title>
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/jquery.min.js"></script>
    <script src="{$Think.COMMON_SITE_ROOT}/layui/layui.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{$Think.COMMON_SITE_ROOT}/layui/css/layui.css" media="all">
</head>
<body>
<div style="padding: 20px">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px">QQ二维码</label>
            <div class="layui-input-inline" style="display: flex;width: 400px">
                <input type="file"
                       style="position:absolute; top:0px; right:0px; height:34px; width:400px; filter:alpha(opacity:0); opacity: 0;left: 0px; cursor: pointer;"
                       name="saler_qq" id="saler_qq" hidefocus="true">
                <input type="text" id="saler_qq_url" lay-verify="required"
                       placeholder="QQ二维码" class="layui-input" value="{$saler_qq}">
                <input type='button' value='上传'
                       style="display: inline-block; width:60px;margin-top:3px; height:30px;margin-left:10px;float: left; border: 0;background:#419dfd;color:#fff;border-radius:2px;font-weight:bold;"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 90px">微信二维码</label>
            <div class="layui-input-inline" style="display: flex;width: 400px">
                <input type="file"
                       style="position:absolute; top:0px; right:0px; height:34px; width:400px; filter:alpha(opacity:0); opacity: 0;left: 0px; cursor: pointer;"
                       name="saler_wechat" id="saler_wechat" hidefocus="true">
                <input type="text" id="saler_wechat_url" lay-verify="required"
                       placeholder="微信二维码" class="layui-input" value="{$saler_wechat}">
                <input type='button' value='上传'
                       style="display: inline-block; width:60px;margin-top:3px; height:30px;margin-left:10px;float: left; border: 0;background:#419dfd;color:#fff;border-radius:2px;font-weight:bold;"/>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formsub">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script>
    var form;
    layui.use('form', function(){
        form = layui.form;
        //监听提交
        form.on('submit(formsub)', function(data){

            var saler_wechat_file = document.getElementById('saler_wechat').files[0];
            var fd = new FormData();
            fd.append('saler_wechat_url', $('#saler_wechat_url').val());
            fd.append('saler_wechat', saler_wechat_file);

            var saler_qq_file = document.getElementById('saler_qq').files[0];
            fd.append('saler_qq_url', $('#saler_qq_url').val());
            fd.append('saler_qq', saler_qq_file);

            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/admin/service",
                data: fd,
                processData: false,  //tell jQuery not to process the data
                contentType: false,  //tell jQuery not to set contentType
                success: function (result) {
                    layer.msg(result.message);
                    location.reload();
                },
                error: function () {
                    layer.msg('客服信息设置失败，请稍后再试');
                }
            });

            return false;
        });
    });
    $("#saler_wechat").change(function () {
        $("#saler_wechat_url").val($("#saler_wechat").val());
    });
    $("#saler_qq").change(function () {
        $("#saler_qq_url").val($("#saler_qq").val());
    });
</script>
</body>
</html>