<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加仓库</title>
    <link href="{$Think.ADMIN_SITE_ROOT}/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{$Think.ADMIN_SITE_ROOT}/css/style.css"/>
    <link href="{$Think.ADMIN_SITE_ROOT}/assets/css/codemirror.css" rel="stylesheet">
    <link rel="stylesheet" href="{$Think.ADMIN_SITE_ROOT}/assets/css/font-awesome.min.css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="{$Think.ADMIN_SITE_ROOT}/assets/css/font-awesome-ie7.min.css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <![endif]-->
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/jquery.min.js"></script>

    <!-- <![endif]-->


    <!--[if IE]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <![endif]-->

    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='{$Think.ADMIN_SITE_ROOT}/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>" + "<" + "/script>");
    </script>
    <![endif]-->


    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='{$Think.ADMIN_SITE_ROOT}/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/bootstrap.min.js"></script>
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/typeahead-bs2.min.js"></script>
    <!-- page specific plugin scripts -->
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/jquery.dataTables.min.js"></script>
    <script src="{$Think.ADMIN_SITE_ROOT}/js/xm-select.js"></script>
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/jquery.dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="{$Think.ADMIN_SITE_ROOT}/js/H-ui.js"></script>
    <script type="text/javascript" src="{$Think.ADMIN_SITE_ROOT}/js/H-ui.admin.js"></script>
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/layer/layer.js" type="text/javascript"></script>
    <script src="{$Think.COMMON_SITE_ROOT}/layui/layui.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{$Think.COMMON_SITE_ROOT}/layui/css/layui.css" media="all">
</head>
<body>

<style type="text/css">
    .layui-form-label {
        float: left;
        display: block;
        padding: 9px 15px;
        width: 90px;
        font-weight: 400;
        line-height: 20px;
        text-align: right;
    }

    .layui-form-item .layui-input-inline {
        float: left;
        margin-left: 20px;
        margin-right: 10px;
    }

    .layui-form-select {
        width: 550px;
    }
</style>
<div style="padding: 20px">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">仓库名称</label>
            <div class="layui-input-block">
                <input type="text" name="home_name" id="home_name" required lay-verify="required"
                       placeholder="请输入仓库名称" autocomplete="off" style="width: 550px" class="layui-input">
                <p style="color: rgba(222,46,1,0.71);font-size: 12px">ps:如 <label style="color: #ef3101;font-size: 14px;font-weight: bold">深圳圆通拼多多仓</label> =>只用填写  <label style="color: #ef3101;font-size: 14px;font-weight: bold">深圳圆通</label>  即可，程序自动添加仓库类型</p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">仓库类型</label>
            <div class="layui-input-block">
                <div name="house" id="serach_warehouse" class="xm-select-demo" style="width: 550px">

                </div>
            </div>

        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">快递名</label>
            <div class="layui-input-block">
                <input type="text" name="kdname" id="kdname" required lay-verify="required"
                       placeholder="请输入API文档中的快递名（下单接口使用）" inputmode="number" autocomplete="off" style="width: 550px"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">快递费</label>
            <div class="layui-input-block">
                <input type="text" name="cost" id="cost" required lay-verify="required" placeholder="请输入快递费"
                       inputmode="number" autocomplete="off" style="width: 550px" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formsub">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script>
    var form;
    var demo1;
    layui.use('form', function () {
        form = layui.form;
        $(function () {
            $.ajax({
                //几个参数需要注意一下
                type: "GET",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/admin/houseware/getwarehouseclasslist",
                success: function (result) {
                    if (result.code == 10000) {
                        //设置下拉框数据
                        casehouse = result.result;

                        let xmselectarr = [];

                        for (let i = 0; i < result.result.length; i++) {
                            let warehouse = result.result[i];
                            let xmitem = [];
                            xmitem["name"] = warehouse.class_name;
                            xmitem["value"] = warehouse.class_id;
                            xmselectarr.push(xmitem);
                        }
                        demo1 = xmSelect.render({
                            el: '#serach_warehouse',
                            data: xmselectarr
                        })
                    }
                },
                error: function () {

                }
            });
        });
        //监听提交
        form.on('submit(formsub)', function (data) {
            var selectArr = demo1.getValue();
            if (selectArr.length == 0) {
                layer.msg('您还没有选择仓库类型', {icon: 5});
                return false;
            }
            let selecthousearr = "[";
            for (let z = 0; z < selectArr.length; z++) {
                if (z==0){
                    selecthousearr += selectArr[z]["value"];
                } else {
                    selecthousearr += "," + selectArr[z]["value"];
                }
            }
            selecthousearr += "]";
            var fd = new FormData();
            fd.append('homename', $('#home_name').val());
            fd.append('warehouse', selecthousearr);
            fd.append('cost', $('#cost').val());
            fd.append('kdname', $('#kdname').val());

            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/admin/houseware/addhousecontent.html",
                data: fd,
                processData: false,  //tell jQuery not to process the data
                contentType: false,  //tell jQuery not to set contentType
                success: function (result) {
                    console.log(result)
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    parent.layer.msg(result.message);
                    parent.table.reload('sample-table');
                },
                error: function () {
                    layer.msg('添加仓库失败，请稍后再试');
                }
            });
            return false;
        });
    });
    $("#good_pic_sel").change(function () {
        $("#good_pic").val($("#good_pic_sel").val());
    });
</script>
</body>
</html>