<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="{$Think.ADMIN_SITE_ROOT}/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{$Think.ADMIN_SITE_ROOT}/css/style.css"/>
    <link href="{$Think.ADMIN_SITE_ROOT}/assets/css/codemirror.css" rel="stylesheet">
    <link rel="stylesheet" href="{$Think.ADMIN_SITE_ROOT}/assets/css/font-awesome.min.css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="{$Think.ADMIN_SITE_ROOT}/assets/css/font-awesome-ie7.min.css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <![endif]-->
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/jquery.min.js"></script>

    <!-- <![endif]-->


    <!--[if IE]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <![endif]-->

    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='{$Think.ADMIN_SITE_ROOT}/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>" + "<" + "/script>");
    </script>
    <![endif]-->


    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='{$Think.ADMIN_SITE_ROOT}/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/bootstrap.min.js"></script>
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/typeahead-bs2.min.js"></script>
    <!-- page specific plugin scripts -->
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/jquery.dataTables.min.js"></script>
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/js/jquery.dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="{$Think.ADMIN_SITE_ROOT}/js/H-ui.js"></script>
    <script type="text/javascript" src="{$Think.ADMIN_SITE_ROOT}/js/H-ui.admin.js"></script>
    <script src="{$Think.ADMIN_SITE_ROOT}/assets/layer/layer.js" type="text/javascript"></script>
    <script src="{$Think.COMMON_SITE_ROOT}/layui/layui.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{$Think.COMMON_SITE_ROOT}/layui/css/layui.css" media="all">
    <style>
        .layui-table-cell {
            height: 100%;
            max-width: 100%;
        }
    </style>

    <title>仓库列表</title>
</head>
<body>

<div class="page-content clearfix">
    <!--搜索-->
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="m-form-label">仓库类型</label>
                <div class="layui-input-inline" style="width: 170px">
                    <select name="modules" id="serach_warehouseclass" lay-filter="houseclass" lay-verify="required"
                            lay-search="">
                        <option value="">仓库类型</option>
                    </select>
                </div>
            </div>

            <button type="button" class="layui-inline layui-btn layui-btn-normal" onclick="serach()">搜索</button>
            <button type="button" class="layui-inline layui-btn layui-btn-normal" onclick="addhouse()">添加仓库</button>
        </div>
    </form>
    <!--表格-->
    <table id="sample-table" lay-filter="table_house" style="margin-top: -15px"></table>
</div>
<script type="text/html" id="table_operation_toolbar">
    <a class="layui-btn  layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/javascript">
    var table;
    var form;
    var casehouseclass;
    var casehouse;
    layui.use(['table', 'form'], function () {
        table = layui.table;
        form = layui.form;
        $(function () {
            $.ajax({
                //几个参数需要注意一下
                type: "GET",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/admin/houseware/getwarehouseclasslist",
                success: function (result) {
                    if (result.code == 10000) {
                        //设置下拉框数据
                        casehouseclass = result.result;
                        for (let i = 0; i < result.result.length; i++) {
                            let warehouse = result.result[i];
                            $("#serach_warehouseclass").append("<option value='" + warehouse.class_id + "'>" + warehouse.class_name + "</option>");
                        }
                        form.render('select');
                    }
                },
                error: function () {

                }
            });
        });

        table.render({
            elem: '#sample-table'
            , url: '/admin/houseware/getwarehouselist'
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , limit: 100
            , height: 'full-100'
            , cols: [[
                {field: 'wh_id', width: 90, align: 'center', title: '仓库ID'}
                ,{field: 'wh_title', width: 300, align: 'center', title: '仓库名称'}
                , {field: 'class_name', width: 140, align: 'center', title: '仓库分类'}
                , {field: 'wh_kd_cost',edit: 'text', width: 140,align: 'center', title: '快递费'}
                , {field: 'wh_alias',width: 300,edit: 'text', align: 'center', title: '快递名（下单接口用）'}
                , {field: 'operation', align: 'center', title: '操作', toolbar: '#table_operation_toolbar'}
            ]]
            , parseData: function (res) {
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.result.total, //解析数据长度
                    "data": res.result.data //解析数据列表
                }
            }
            , response: {
                statusName: 'code' //规定数据状态的字段名称，默认：code
                , statusCode: 10000 //规定成功的状态码，默认：0
                , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                , countName: 'count' //规定数据总数的字段名称，默认：count
                , dataName: 'data' //规定数据列表的字段名称，默认：data
            }
            , page: {
                layout: ['prev', 'page', 'next', 'skip', 'refresh']
            }
        });

        table.on('tool(table_house)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            let data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'del') { //取消订单
                layer.confirm('确定要删除这个仓库吗', function (index) {
                    $.ajax({
                        //几个参数需要注意一下
                        type: "POST",//方法类型
                        dataType: "json",//预期服务器返回的数据类型
                        url: "/admin/houseware/delhouseware",
                        data: {
                            wh_id: data.wh_id
                        },
                        success: function (result) {
                            layer.close(index);
                            layer.msg(result.message);
                            table.reload('sample-table');
                        },
                        error: function () {
                            layer.msg('删除失败，请稍后再试');
                        }
                    });
                });
            }
        });

        table.on('edit(table_house)', function (obj) { //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
            $.ajax({
                //几个参数需要注意一下
                type: "GET",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/admin/houseware/edithouse",
                data: {
                    field: obj.field,
                    wh_id: obj.data.wh_id,
                    price: obj.value
                },
                success: function (result) {
                },
                error: function () {
                }
            });
        });
    });

    /**搜索*/
    function serach() {
        table.reload('sample-table', {
            url: '/admin/houseware/serachhouselist'
            , page: {
                curr: 1 //重新从第 1 页开始
            }
            , where: {
                warehouseclass: $('#serach_warehouseclass').val()
            } //设定异步数据接口的额外参数
        });
    }

    /**新增仓库*/
    function addhouse() {
        layer.open({
            type: 2,
            title: '新增仓库',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['893px', '500px'],
            content: '/admin/houseware/addhousecontent.html'
        });
    }
</script>
</body>
</html>
