@charset "utf8";

.news-banner {
    width: 100%;
    height: 400px;
    float: left;
    position: relative;
    overflow: hidden;
    background: url("/static/index/images/banner.jpg") no-repeat center;
}

.news-nav-box {
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}

.news-detail {
    width: 900px;
    margin: 0 auto;
}

.title {
    width: 900px;
    margin: 20px auto;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 50px;
}

.news-nav {
    width: 680px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.news-nav li {
    float: left;
    margin: 0px 20px;
}

.news-nav li a {
    display: inline-block;
    line-height: 38px;
    padding: 0px 30px;
    border: 1px solid #FF464E;
    font-size: 16px;
    color: #FF464E;
}

.news-nav li a.action {
    background-color: #FF464E;
    color: #ffffff;
}

.news-nav li a:hover {
    background-color: #FF464E;
    color: #ffffff;
}

.news-list-box {
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    background-color: #F4F5F6;
}

.news-list {
    width: 1200px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}

.news-list ul li {
    width: 1150px;
    margin: 20px 25px;
    background-color: #ffffff;
    float: left;
}

.news-list ul li:hover {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
}

.news-list ul li .news-pic {
    width: 200px;
    height: 150px;
    overflow: hidden;
    float: left;
}

.news-list ul li .news-pic img {
    width: 100%;
    height: 100%;
}

.news-list ul li .news-info {
    width: 890px;
    margin: 10px 30px;
    float: left;
    overflow: hidden;
}

.news-list ul li .news-info .ntitle {
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}

.news-list ul li .news-info .ntime {
    line-height: 30px;
    font-size: 12px;
    color: #999999;
}

.news-list ul li .news-info .ndes {
    border-top: 1px solid #eeeeee;
    line-height: 32px;
    height: 64px;
    overflow: hidden;
    font-size: 12px;
    color: #666666;
}
