<div class="footer-top">
    <div class="footer-top-box">
        <div class="footer-top-main">
            <ul>
                <li class="ft-single">
                    <div class="footer-top-icon">
                        <img src="/static/index/images/footer-top-01.png"/>
                    </div>
                    <div class="footer-top-info">
                        <p class="ftitle">正品保障</p>
                        <p class="fdev">正品保障，选购放心</p>
                    </div>
                </li>
                <li class="ft-single">
                    <div class="footer-top-icon">
                        <img src="/static/index/images/footer-top-02.png"/>
                    </div>
                    <div class="footer-top-info">
                        <p class="ftitle">天天低价</p>
                        <p class="fdev">正品保障，畅选无忧</p>
                    </div>
                </li>
                <li class="ft-single">
                    <div class="footer-top-icon">
                        <img src="/static/index/images/footer-top-03.png"/>
                    </div>
                    <div class="footer-top-info">
                        <p class="ftitle">多仓直发</p>
                        <p class="fdev">多仓直发，极速配送</p>
                    </div>
                </li>
                <li class="ft-single nom">
                    <div class="footer-top-icon">
                        <img src="/static/index/images/footer-top-04.png"/>
                    </div>
                    <div class="footer-top-info">
                        <p class="ftitle">品类齐全</p>
                        <p class="fdev">品类齐全，轻松选礼</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-box">
    <div class="footer">
        <div class="footer-main">
            <p>{$website_copyright}</p>
            <a href="{$icp_link}" target="_blank" style="font-size: 12px">{$website_icp}</a>
        </div>
    </div>
</div>
