<div class="header-box">
    <div class="header">
        <div class="header-top">
            <div class="login-info">
                <span class="welcome">你好，欢迎来到玖玖发网站</span>
                <a href="" class="userinfo">玖玖发</a>
                <a href="" class="user-exit">退出</a>
            </div>
            <ul class="list-nav">
                <li><a href="">礼品资讯</a></li>
                <li><a href="">礼品资讯</a></li>
                <li><a href="">礼品资讯</a></li>
                <li><a href="">礼品资讯</a></li>
                <li><a href="">礼品资讯</a></li>
            </ul>
        </div>
        <div class="header-nav">header-nav</div>
        <div class="clear"></div>
    </div>
</div>