<div class="cont-side">
    <div class="side-neck">
        <i></i>
    </div>
    <div class="side-menu">
        <dl class="side-menu-tree">
            <dt>
                <img src="" />
                <span>礼品下单</span>
            </dt>
            <dd>
                <a href="{:url('member/order/payOrderPage');}">礼品下单</a>
            </dd>
            <dt>
                <img src="" />
                <span>账户管理</span>
            </dt>
            <dd>
                <a href="{:url('member/account/personInfo');}">个人中心</a>
            </dd>
            <dd>
                <a href="{:url('member/account/upMyVip');}">升级代理</a>
            </dd>
            <dd>
                <a href="{:url('member/account/mySpreadLine');}">邀请链接</a>
            </dd>
            <dt>
                <img src="" />
                <span>财务中心</span>
            </dt>
            <dd>
                <a href="{:url('member/finance/rechargeRecord');}">充值记录</a>
            </dd>
            <dd>
                <a href="{:url('member/finance/cashRecord');}">资金明细</a>
            </dd>
            <dt>
                <img src="" />
                <span>售后服务</span>
            </dt>
            <dd>
                <a href="">售后查件</a>
            </dd>
            <dd>
                <a href="">底单申请</a>
            </dd>
        </dl>
        <span class="icon-up-side"><i></i></span>
    </div>
</div>